/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}
body {
  background: hsl(0, 0%, 94%) none repeat scroll 0 0 !important;
}
.panel {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.user_upload a {
  color: hsl(0, 0%, 100%) !important;
  text-decoration: none;
}
.nicescroll-rails > div {
  border: 1px solid hsl(209, 48%, 67%) !important;
}
ul{
	list-style: none;
}
.viewForm i.fa {
  display: none;
}
a{
	color: #333;
}
.menu-arrow-close {
  float: right;
  margin-right: 20px;
  font-size: 28px;
}
.margin-top50 {
  margin-top: 50px;
}
.menu-arrow-close::before {
  content: "\f105";
  font-family: FontAwesome;
}
.active .menu-arrow-close::before {
  content: "\f107";
  font-family: FontAwesome;
}
.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  pointer-events: none !important;
}
.form-group {
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.btn.calender-btn {
  color: hsl(0, 0%, 100%);
}
a:hover{
	cursor: pointer;
}
#isShowScope {
  height: 0;
  opacity: 0;
}
ul.simple-post-list .post-image {
	float: left;
	margin-right: 12px;
}
ul.simple-post-list {
	list-style: none;
	margin: 0;
	padding: 0;
}
.callout-box{
	background-color: #546489;
	color: #fff;
	padding: 10px 20px;
}
.body-title{
	border: 1px solid #e3e3e3;
	border-left: 5px solid #234383;
	padding: 0 20px 20px;
}
.featured-box{
	border: 1px solid #e3e3e3;
	border-top: 5px solid #234383;
	padding: 0 20px 20px;
}
.breadcrumbs {
position: relative;
border-bottom: 1px solid #E5E5E5;
background-color: #F5F5F5;
}
.breadcrumb{
	margin-bottom: 0;
}
.cart-btn{
	border-radius:0;
}
.navbar {
	border-radius: 0;
	
/*background: #438EB9;
color: #fff;border: 0;*/

}
body .pagination > .active > a, 
body .pagination > .active > span, 
body .pagination > .active > a:hover, 
body .pagination > .active > span:hover, 
body .pagination > .active > a:focus, 
body .pagination > .active > span:focus {
  background-color: hsl(208, 47%, 67%);
  border-color: hsl(208, 47%, 67%);
  color: hsl(0, 0%, 100%);
  cursor: default;
  z-index: 2;
}
body .pagination li {
  padding: 0;
  font-size: 13px;
}
/* Removed width:auto from navbar-collapse classs; */
.navbar-collapse {
border-top: 0;
box-shadow: none;
}
.navbar .navbar-brand {
/*color: #FFF;
font-size: 24px;
text-shadow: none;
padding-bottom: 10px;*/
}
.form-group-addon{
	padding-left: -20px;
}

.login-bakg {
  background-image: url("../images/Background.png");
  background-size: cover;
  height: 100%;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  position: fixed;
  width: 100%;
}
.spinner {
  height: 30px;
  margin-top: -35px;
  position: absolute;
  right: 125px;
  width: 30px;
}
.spinner > img {
  width: 100%;
}
.toast.ng-scope {
  display: none;
}
.toast.ng-scope:first-child {
  display: block;
}
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.btn-file {
  background: hsl(208, 50%, 68%) none repeat scroll 0 0;
  border-radius: 3px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  margin-top: 5px;
  padding: 5px 11px;
}
.form-control.ng-invalid.ng-invalid-required {
  border: 1px solid hsl(0, 100%, 50%);
}
.form-control.ng-pristine.ng-invalid.ng-invalid-required {
  border: 1px solid hsl(240, 6%, 79%);
}
.postcode {
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}
#sidebar {
  top: 66px !important;
  margin-left: 0 !important;
}
ul.sidebar-menu li.active::before {
  background: hsla(0, 0%, 0%, 0) url("../img/Arrow icon.png") no-repeat scroll 0 0 / 6px auto;
  content: "";
  display: block;
  height: 18px;
  margin: 12px auto 0 0;
  position: absolute;
  width: 8px;
}

.user_upload {
    position: relative;
    overflow: hidden;
}
.user_upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
  height: 100%;
  max-width: 100%;
}
.photo_preview {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(208, 47%, 67%);
  border-radius: 4px 4px 0 0;
  height: 170px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  text-align: center;
  width: 170px;
}
.top-nav ul.top-menu > li > a.active {
  background-color: hsl(205, 38%, 16%);
}

table.table {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0 !important;
}
/*table .btn-group .btn {
  border-radius: 50% !important;
  height: 28px;
  line-height: 25px;
  margin-right: 8px;
  padding: 0;
  width: 28px;
}*/
table .btn-group .btn {
  border-radius: 50% !important;
  font-size: 21px;
  height: 35px;
  margin-right: 15px;
  padding: 2px 0;
  width: 35px;
}
#preloader {
  background-color: #fff !important;
}
a {
color: orange;
}
#preloader  {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fefefe;
   z-index: 9999;
  height: 100%;
}
#status  {
   width: 200px;
   height: 200px;
   position: absolute;
   left: 50%;
   top: 50%;
   background-image: url(../images/loder.gif);
   background-repeat: no-repeat;
   background-position: center;
   margin: -100px 0 0 -100px;
}
.form-builder {
  background-color: #6498C3 !important;
  box-shadow: 0 0 10px 0 hsl(209, 30%, 67%);
}
ul.form-builder-sidebar-menu {
  margin: 0;
  padding: 0;
}
ul.form-builder-sidebar-menu li {
  line-height: 20px !important;
}
ul.form-builder-sidebar-menu li a {
  border-bottom: 1px solid hsl(207, 16%, 55%);
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 14px;
  font-weight: 300;
  outline: medium none;
  padding: 10px 0 10px 10px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
i.pull-right {
  line-height: 1.5;
  padding-right: 10px;
}
ul.form-builder-sidebar-menu li a span {
  display: inline-block;
  width: 85%;
}
ul.form-builder-sidebar-menu li a.active {
  background: hsl(207, 81%, 77%) none repeat scroll 0 0;
}
.fb-components-sidebar {
  background: #2A3F50 none repeat scroll 0 0;
  float: right;
  position: fixed;
  right: 0;
  top: 68px;
  width: 245px;
  padding: 0;
  height: 100%;
}
.position-fixed {
  background: #fff none repeat scroll 0 0;
  float: right;
  position: fixed;
  right: 0;
  top: 68px;
  width: 23%;
  right: 245px;
  height:100%;
}
h4.field-title {
  color: hsl(0, 0%, 100%);
  display: inline-block;
  width: 100%;
}
div.fb-component::after {
  background: hsla(0, 0%, 0%, 0) url("../images/Pluswhiteicon.png") no-repeat scroll 0 0 / 15px auto;
  content: "";
  display: block;
  float: right;
  height: 15px;
  margin: -22px 0 0;
  position: relative;
  width: 15px;
}
.popover {
  background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
  border: medium none;
  box-shadow: none !important;
  left: auto !important;
  position: fixed !important;
  right: 265px !important;
  top: 150px !important;
}
.fb-components-opration {
  min-height: 200px;
}
a.logo span {
  color: hsl(0, 0%, 100%);
  float: right;
  font-size: 20px;
  line-height: 1.4;
  padding-left: 10px;
  position: absolute;
  text-transform: capitalize;
  width: 100%;
}
body .logo img {
  height: 27px;
  float: left;
}
.fb-component div.col-sm-8, .fb-component div.col-md-8, .popover > .arrow, 
.fb-component .edit-component-field, .fb-component .delete-component-field {
  display: none;
}
.form-group.formBuilderActionBtn {
  background: hsl(0, 0%, 94%) none repeat scroll 0 0;
  bottom: 0;
  height: 70px;
  margin-bottom: 0;
  margin-left: -10px;
  padding-left: 50px;
  padding-top: 15px;
  position: fixed;
  width: 40%;
}
.fb-components-section {
  min-height: 500px;
  padding: 0 40px;
}
.fb-components-opration {
  background: #6498C3 none repeat scroll 0 0;
  padding: 7px 40px;
}
div.fb-builder {
  min-height: 450px;
}
.opration > a {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border-radius: 3px;
  color: hsl(0, 0%, 0%);
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}
div.fb-component .form-group {
  margin: 0 !important;
}
div.fb-component {
  background: hsl(207, 31%, 24%) none repeat scroll 0 0 !important;
  border: 1px solid;
  border-radius: 3px;
  color: hsl(0, 0%, 100%);
  height: 30px;
  line-height: 2;
  margin: 5px 0;
  padding: 0 8px !important;
}
div.fb-component label {
  padding: 0 !important;
}
.edit-component-field {
  color: hsl(207, 44%, 58%);
  float: right;
  font-size: 22px;
  pointer-events: auto;
  position: absolute;
  right: 90px;
  top: 5px;
}
.delete-component-field {
  color: hsl(207, 44%, 58%);
  float: right;
  font-size: 22px;
  pointer-events: auto;
  position: absolute;
  right: 55px;
  top: 5px;
}
.fb-form-object-editable.fb-draggable label > span {
  float: left;
  width: 80%;
}
.fb-form-object-editable {
  left: -24px;
  padding-left: 30px !important;
  position: relative;
}
.fb-form-object-editable.active {
  background: hsl(0, 0%, 91%) none repeat scroll 0 0;
}
input[type="file"] {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  cursor: inherit;
  display: block;
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: medium none;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
h3.popover-title {
  background-color: hsl(207, 44%, 58%);
  border-bottom: 1px solid hsl(212, 100%, 90%);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin: 0 15px;
  padding: 8px;
}
div.popover .element {
  margin: 0 15px;
}
.fb-form-object-editable label.document-name {
  color: hsl(209, 30%, 67%);
  font-size: 16px;
  font-weight: bold;
  padding-top: 0;
}
div.popover form.ng-pristine {
  margin: 10px 0 10px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  float: none;
  margin: 0;
}
.radio, .checkbox {
  display: block;
  margin-bottom: 19px;
  min-height: 20px;
  padding-left: 0;
  vertical-align: middle;
}
.fb-form-object-editable.fb-draggable {
  cursor: none;
  pointer-events: none;
}
ul.sub {
  padding: 0;
  width: 85%;
}
.sub li a {
  background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
  border: 1px solid hsl(0, 0%, 80%);
  margin-bottom: 8px;
  padding: 10px 15px;
  color: hsl(0, 0%, 10%);
  font-size: 16px;
  width: 100%;
  display: inline-block;
}
#showModal {
  position: fixed;
  top: 30%;
  width: 100%;
}
.modal-bodys {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border-radius: 15px;
  box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.176) !important;
  margin: 0 auto;
  padding: 30px;
  position: relative;
  top: 30%;
  width: 400px;
  z-index: 2147483647;
}
.modal-bodys-bg {
  background: hsl(0, 0%, 80%) none repeat scroll 0 0;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  background-color: #2A3F50 !important;
  text-align: center;
  color: #fff !important;
  font-weight: bold;
}
.nav-pills > li > a{
  text-align: center;
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
}
ul.nav.nav-pills {
  display: table;
  width: 100%;
}
ul.nav.nav-pills li {
  background: #91ABC4;
  display: table-cell;
  width: 50%;
}
.jumbotron {
  background-color: hsla(0, 0%, 0%, 0) !important;
  padding: 0 !important;
}
.viewForm label span {
  float: left;
  width: 75% !important;
}
.viewForm label.document-name {
  color: hsl(209, 30%, 67%);
  font-size: 16px;
  font-weight: bold;
  padding-top: 0;
}
body input::-moz-placeholder {
  color: #fff !important;
}
body input::-webkit-input-placeholder {
  color: #fff !important;
}
body input:-ms-input-placeholder {
  color: #fff !important;
}














 .login_wrapper{    right: 33%;
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: right;}
 
 @media (max-width:320px){ 
 .login_wrapper{    
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: left;
  margin-left: 69px;
  
  }
  
  }
 
 
  
 @media (max-width:360px){ 
 .login_wrapper{    
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: left;
  margin-left: 69px;
  
  }
  
  }
  
   @media (max-width:800px){ 
 .login_wrapper{    
    margin: 0% auto 0;
    max-width: 350px;
    position: relative;
    float: left;
  margin-left: 70%;
  
  }
  
  }
  
 
 .cropper .docs-cropped .modal-body>canvas,.cropper .docs-cropped .modal-body>img,.cropper .img-container>img,.cropper .img-preview>img{max-width:100%}

 .registration_form{z-index:21;opacity:0;width:100%}.login_form{z-index:22}#signin:target~.login_wrapper .login_form,#signup:target~.login_wrapper .registration_form{z-index:22;animation-name:fadeInLeft;animation-delay:.1s}#signin:target~.login_wrapper .registration_form,#signup:target~.login_wrapper .login_form{animation-name:fadeOutLeft}.animate{-webkit-animation-duration:.5s;-webkit-animation-timing-function:ease;-webkit-animation-fill-mode:both;-moz-animation-duration:.5s;-moz-animation-timing-function:ease;-moz-animation-fill-mode:both;-o-animation-duration:.5s;-o-animation-timing-function:ease;-o-animation-fill-mode:both;-ms-animation-duration:.5s;-ms-animation-timing-function:ease;-ms-animation-fill-mode:both;animation-duration:.5s;animation-timing-function:ease;animation-fill-mode:both}.login_box{padding:20px;margin:auto}.alignleft{margin-right:15px}.alignright{float:right;margin-left:15px}
 
 .clearfix:after,form:after{content:".";display:block;height:0;clear:both;visibility:hidden}
 
 .login_content {
  background: hsl(209, 48%, 67%) none repeat scroll 0 0;
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  height: 400px;
  text-align: center;
  width: 400px;
}
.animate.form.login_form {
  margin-top: 50px;
}
 .login_content a:hover{text-decoration:underline}
 .login_content h1{font:400 25px Helvetica,Arial,sans-serif;letter-spacing:-.05em;line-height:20px;margin:10px 0 30px}
 .login_content h1:after,.login_content h1:before{content:"";height:0px;position:absolute;top:10px;width:20%}
 .login_content h1:after{background:#7e7e7e;background:linear-gradient(left,#7e7e7e 0,#fff 100%);right:0}
 .login_content h1:before{background:#7e7e7e;background:linear-gradient(right,#7e7e7e 0,#fff 100%);left:0}
 .login_content form {
  margin: 0;
  padding: 120px 75px 0;
  position: relative;
}
 
 
@font-face {
    font-family:'Kozuka_GothicR';
    src: url(../fonts/kozuka_gothic_pro_r.ttf);
  
}

@font-face {
    font-family:'Kozuka_GothicM';
    src: url(../fonts/Kozuka-Gothic-Pro-M_26793.ttf);
  
}

@font-face {
    font-family:'Kozuka_GothicB';
    src: url(../fonts/Kozuka Gothic Pro B.otf);
  
}
 
.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
  background-color: hsla(0, 0%, 0%, 0) !important;
  border: 1px solid #fff !important;
  border-radius: 5px;
  color: hsl(0, 0%, 100%) !important;
  height: 45px;
  margin: 0 0 15px;
  padding: 10px;
  box-shadow: none !important;
} 
.login_content form input[type="text"]::-webkit-input-placeholder,.login_content form input[type="text"]:-moz-placeholder
{
color:#fff !important;
}

.change_link {
  margin-top: 12px;
}
ul.phone_nav {
  margin-bottom: 0;
  margin-top: 25px;
  padding: 0;
}
li.phone_text {
  line-height: 1;
}
li.phone_no {
  font-size: 17px;
  line-height: 1;
}
button.submit {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0 !important;
  border-radius: 8px;
  color: hsl(209, 48%, 67%) !important;
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 30px;
}

 

.login_content form div a{font-size:17px;margin:10px 15px 0 0; padding:8px 50px; color:#84aed4;}.
reset_pass{margin-top:10px!important}.login_content div .reset_pass{margin-top:13px!important;margin-right:39px;float:right}.separator{border-top:1px solid #D8D8D8;margin-top:10px;padding-top:10px}.button{background:#f7f9fa;background:linear-gradient(top,#f7f9fa 0,#f0f0f0 100%);filter:progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);-ms-box-shadow:0 1px 2px rgba(0,0,0,.1) inset;-o-box-shadow:0 1px 2px rgba(0,0,0,.1) inset;box-shadow:0 1px 2px rgba(0,0,0,.1) inset;border-radius:0 0 5px 5px;border-top:1px solid #CFD5D9;padding:15px 0}#content form .submit,.login_content form input[type=submit]{float:left;margin-left:38px}.button a{background:url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;color:#7E7E7E;font-size:17px;padding:2px 0 2px 40px;text-decoration:none;transition:all .3s ease}.button a:hover{background-position:0 -135px;color:#00aeef}header{width:100%}#nprogress .bar{background:#1ABB9C}#nprogress .peg{box-shadow:0 0 10px #1ABB9C,0 0 5px #1ABB9C}#nprogress .spinner-icon{border-top-color:#1ABB9C;border-left-color:#1ABB9C}.editor-wrapper{min-height:250px;background-color:#fff;border-collapse:separate;border:1px solid #ccc;padding:4px;box-sizing:content-box;box-shadow:rgba(0,0,0,.07451) 0 1px 1px 0 inset;overflow:scroll;outline:0;border-radius:3px}.voiceBtn{width:20px;color:transparent;background-color:transparent;transform:scale(2,2);-webkit-transform:scale(2,2);-moz-transform:scale(2,2);border:transparent;box-shadow:none;-webkit-box-shadow:none}div[data-role=editor-toolbar]{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.select2-container--default .select2-selection--multiple,.select2-container--default .select2-selection--single{background-color:#fff;border:1px solid #ccc;border-radius:0;min-height:38px}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#73879C;padding-top:5px}.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding-top:3px}.select2-container--default .select2-selection--single .select2-selection__arrow{height:36px}.select2-container--default .select2-selection--multiple .select2-selection__choice,.select2-container--default .select2-selection--multiple .select2-selection__clear{margin-top:2px;border:none;border-radius:0;padding:3px 5px}.select2-container--default.select2-container--focus .select2-selection--multiple{border:1px solid #ccc}.switchery{width:32px;height:20px}.switchery>small{width:20px;height:20px}fieldset{border:none;margin:0;padding:0}.cropper .img-container,.cropper .img-preview{background-color:#f7f7f7;width:100%;text-align:center}.cropper .img-container{min-height:200px;max-height:516px;margin-bottom:20px}.cropper .docs-data>.input-group,.cropper .docs-toggles>.btn,.cropper .docs-toggles>.btn-group,.cropper .docs-toggles>.dropdown,.cropper .img-preview{margin-bottom:10px}@media (min-width:768px){.cropper .img-container{min-height:516px}}.cropper .docs-preview{margin-right:-15px}.cropper .img-preview{float:left;margin-right:10px;overflow:hidden}.cropper .preview-lg{width:263px;height:148px}.cropper .preview-md{width:139px;height:78px}.cropper .preview-sm{width:69px;height:39px}.cropper .preview-xs{width:35px;height:20px;margin-right:0}.cropper .docs-data>.input-group>label{min-width:80px}.cropper .docs-data>.input-group>span{min-width:50px}.cropper .docs-buttons>.btn,.cropper .docs-buttons>.btn-group,.cropper .docs-buttons>.form-control{margin-right:5px;margin-bottom:10px}.cropper .docs-tooltip{display:block;margin:-6px -12px;padding:6px 12px}.cropper .docs-tooltip>.icon{margin:0 -3px;vertical-align:top}.cropper .tooltip-inner{white-space:normal}.cropper .btn-toggle .tooltip-inner,.cropper .btn-upload .tooltip-inner{white-space:nowrap}.cropper .btn-toggle{padding:6px}.cropper .btn-toggle>.docs-tooltip{margin:-6px;padding:6px}@media (max-width:400px){.cropper .btn-group-crop{margin-right:-15px!important}.cropper .btn-group-crop>.btn{padding-left:5px;padding-right:5px}.cropper .btn-group-crop .docs-tooltip{margin-left:-5px;margin-right:-5px;padding-left:5px;padding-right:5px}}.cropper .docs-options .dropdown-menu{width:100%}.cropper .docs-options .dropdown-menu>li{padding:3px 20px}.cropper .docs-options .dropdown-menu>li:hover{background-color:#f7f7f7}.cropper .docs-options .dropdown-menu>li>label{display:block}.cropper .docs-cropped .modal-body{text-align:center}.cropper .docs-diagram .modal-dialog{max-width:352px}.cropper .docs-cropped canvas{max-width:100%}.form_wizard .stepContainer{display:block;position:relative;margin:0;padding:0;border:0 solid #CCC;overflow-x:hidden}.wizard_horizontal ul.wizard_steps{display:table;list-style:none;position:relative;width:100%;margin:0 0 20px}.wizard_horizontal ul.wizard_steps li{display:table-cell;text-align:center}.wizard_horizontal ul.wizard_steps li a,.wizard_horizontal ul.wizard_steps li:hover{display:block;position:relative;-moz-opacity:1;filter:alpha(opacity=100);opacity:1;color:#666}.wizard_horizontal ul.wizard_steps li a:before{content:"";position:absolute;height:4px;background:#ccc;top:20px;width:100%;z-index:4;left:0}.wizard_horizontal ul.wizard_steps li a.disabled .step_no{background:#ccc}.wizard_horizontal ul.wizard_steps li a .step_no{width:40px;height:40px;line-height:40px;border-radius:100px;display:block;margin:0 auto 5px;font-size:16px;text-align:center;position:relative;z-index:5}.step_no,.wizard_horizontal ul.wizard_steps li a.selected:before{background:#34495E;color:#fff}.wizard_horizontal ul.wizard_steps li a.done .step_no,.wizard_horizontal ul.wizard_steps li a.done:before{background:#1ABB9C;color:#fff}.wizard_horizontal ul.wizard_steps li:first-child a:before{left:50%}.wizard_horizontal ul.wizard_steps li:last-child a:before{right:50%;width:50%;left:auto}.wizard_verticle .stepContainer{width:80%;float:left;padding:0 10px}.actionBar{width:100%;border-top:1px solid #ddd;padding:10px 5px;text-align:right;margin-top:10px}.actionBar .buttonDisabled{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none}.actionBar a{margin:0 3px}.wizard_verticle .wizard_content{width:80%;float:left;padding-left:20px}.wizard_verticle ul.wizard_steps{display:table;list-style:none;position:relative;width:20%;float:left;margin:0 0 20px}.wizard_verticle ul.wizard_steps li{display:list-item;text-align:center}.wizard_verticle ul.wizard_steps li a{height:80px}.wizard_verticle ul.wizard_steps li a:first-child{margin-top:20px}.wizard_verticle ul.wizard_steps li a,.wizard_verticle ul.wizard_steps li:hover{display:block;position:relative;-moz-opacity:1;filter:alpha(opacity=100);opacity:1;color:#666}.wizard_verticle ul.wizard_steps li a:before{content:"";position:absolute;height:100%;background:#ccc;top:20px;width:4px;z-index:4;left:49%}.wizard_verticle ul.wizard_steps li a.disabled .step_no{background:#ccc}.wizard_verticle ul.wizard_steps li a .step_no{width:40px;height:40px;line-height:40px;border-radius:100px;display:block;margin:0 auto 5px;font-size:16px;text-align:center;position:relative;z-index:5}.progress.progress_sm,.progress.progress_sm .progress-bar{height:10px!important}.step_no,.wizard_verticle ul.wizard_steps li a.selected:before{background:#34495E;color:#fff}.wizard_verticle ul.wizard_steps li a.done .step_no,.wizard_verticle ul.wizard_steps li a.done:before{background:#1ABB9C;color:#fff}.wizard_verticle ul.wizard_steps li:first-child a:before{left:49%}.wizard_verticle ul.wizard_steps li:last-child a:before{left:49%;left:auto;width:0}.form_wizard .loader,.form_wizard .msgBox{display:none}.progress{border-radius:0}.progress-bar-info{background-color:#3498DB}.progress-bar-success{background-color:#26B99A}.progress_summary .progress{margin:5px 0 12px!important}.progress_summary .row{margin-bottom:5px}.progress_summary .row .col-xs-2{padding:0}.progress_summary .data span,.progress_summary .more_info span{text-align:right;float:right}.progress_summary p{margin-bottom:3px;width:100%}.progress_title .left{float:left;text-align:left}.progress_title .right{float:right;text-align:right;font-weight:300}.progress.progress_sm{border-radius:0;margin-bottom:18px}.dashboard_graph p{margin:0 0 4px}ul.verticle_bars{width:100%}ul.verticle_bars li{width:23%;height:200px;margin:0}.progress.vertical.progress_wide{width:35px}.alert-success{color:#fff;background-color:rgba(38,185,154,.88);border-color:rgba(38,185,154,.88)}.alert-info{color:#E9EDEF;background-color:rgba(52,152,219,.88);border-color:rgba(52,152,219,.88)}.alert-warning{color:#E9EDEF;background-color:rgba(243,156,18,.88);border-color:rgba(243,156,18,.88)}.alert-danger,.alert-error{color:#E9EDEF;background-color:rgba(231,76,60,.88);border-color:rgba(231,76,60,.88)}.ui-pnotify.dark .ui-pnotify-container{color:#E9EDEF;background-color:rgba(52,73,94,.88);border-color:rgba(52,73,94,.88)}.custom-notifications{position:fixed;margin:15px;right:0;float:right;width:400px;z-index:4000;bottom:0}ul.notifications{float:right;display:block;margin-bottom:7px;padding:0;width:100%}.notifications li{float:right;margin:3px;width:36px;box-shadow:3px 3px 3px rgba(0,0,0,.3)}.notifications li:last-child{margin-left:0}.notifications a{display:block;text-align:center;text-decoration:none;padding:9px 8px}.tabbed_notifications .text{padding:5px 15px;height:140px;border-radius:7px;box-shadow:6px 6px 6px rgba(0,0,0,.3)}.tabbed_notifications div p{display:inline-block}.tabbed_notifications h2{font-weight:700;width:80%;float:left;height:20px;text-overflow:ellipsis;overflow:hidden;display:block}.tabbed_notifications .close{padding:5px;color:#E9EDEF;float:right;opacity:1}.fc-state-default{background:#f5f5f5;color:#73879C}.fc-state-active,.fc-state-down{color:#333;background:#ccc}.dropzone{min-height:300px;border:1px solid #e5e5e5}.main_menu .label{line-height:11px;margin-top:4px}@media (max-width:460px){.dataTables_wrapper .col-sm-6{width:100%;margin-bottom:5px}.dataTables_wrapper .col-sm-6 .dataTables_filter{float:none}}@media (max-width:767px){.dataTables_length{float:none}}.daterangepicker.xdisplay{width:228px}.dataTables_wrapper>.row{overflow:auto!important}


.white_color{color:#FFFFFF !important; text-decoration:underline  !important;}
.logo1{ margin:20px 35px;}

.inline-calender {
  background: hsl(209, 48%, 67%) none repeat scroll 0 0;
  display: inline-block;
  float: right;
}

.inline-calender .well {
  background: hsl(209, 48%, 67%) none repeat scroll 0 0;
  border: medium none;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.inline-calender .btn-default {
  background-color: hsla(0, 0%, 0%, 0);
  border-color: hsla(0, 0%, 0%, 0);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: bold;
  margin: 0 3px;
  padding: 0;
}

.inline-calender .btn-default i {
  font-size: 22px;
}

.text-muted {
  color: hsla(0, 0%, 0%, 0);
  pointer-events: none;
}

.day-header small {
  font-family: "Trebuchet MS";
  font-size: 17px;
  font-weight: bold;
}

button .ng-binding {
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding: 3px;
  position: relative;
  text-transform: uppercase;
}

.inline-calender .btn-default.active {
  background-color: hsl(0, 0%, 100%);
  border-color: hsla(0, 0%, 0%, 0);
  border-radius: 50%;
  color: hsl(209, 48%, 67%);
  pointer-events: none;
}

.inline-calender .btn-default:hover {
  background-color: hsl(0, 0%, 100%);
  border-color: hsla(0, 0%, 0%, 0);
  border-radius: 50%;
  color: hsl(209, 48%, 67%);
}

.text-info {
  color: hsl(204, 38%, 16%);
}

.inline-calender table thead tr:first-child {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}

.inline-calender table thead tr th {
  color: #fff;
}

.inline-calender table thead tr:first-child .btn-default {
  color: hsl(209, 48%, 67%);
}

#nofields, .nofieldsonpage {
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.15);
  cursor: pointer;
  position: relative;
  z-index: 99999999;
}
.notice {
  padding: 25px 20px;
  background-color: #6498C3;
  border-color: hsl(65, 58%, 85%) hsl(65, 52%, 74%) hsl(65, 52%, 74%) hsl(65, 58%, 85%);
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  margin: 80px 20px 0;
}
a.button {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border-radius: 3px;
  color: hsl(0, 0%, 0%);
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 8px 0;
  text-align: center;
  width: 100%;
}
.responsemsg{
color: #888;font-size: 26px;margin-top: 168px;min-height: 104px;text-align: center;
}
.space_divider{
 padding-bottom:19px;
}
.pagination_num{
 margin-top: 5px;
}
.pagination_staff{
 text-align:center;
} 
.pagination_staff .pagination{
 float:none !important;
}