@font-face {
    font-family: 'humnstl';
    src: url(../fonts/humnst/humnst.ttf);
}
@font-face {
    font-family: 'humnstb';
    src: url(../fonts/humnst/humnstb.ttf);
}
@font-face {
    font-family: 'humnstxb';
    src: url(../fonts/humnst/humnstexb.ttf);
}
.listbg {
    background-color: #84aed4;
    margin-right: 0px !important;
    float: right;
    width: 47px !important;
}
.listbg a {
    background-color: #84aed4;
    padding: 24px 16px 25px 16px !important;
    margin-right: 0px !important;
    float: right;
}
.listbg2 a:hover {
    background-color: #192b37;
}
.text {
    text-align: left;
}
.droupdown1 {
    width: 100%;
    line-height: 25px;
    height: 35px;
    background-color: #FFFFFF;
    border: 1px solid #85AED4;
    border-radius: 4px;
    padding-left: 5px;
    color: #666666;
}
.max-width150 {
    max-width: 150px;
}
.user {
    width: 100%;
    border: 1px solid #84AED3;
    border-radius: 4px 4px 0px 0px;
    background-color: #FFFFFF;
    margin-top: 3.4em;
    padding: 15px 0px 0px 0px;
    text-align: center;
}
.user p {
    text-align: center;
    color: #DDDDDD;
}
.user img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.user_upload {
    background-color: #84AED3;
    color: #FFFFFF;
    display: block;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}
.user_upload:hover {
    background-color: #4c779c;
}
.user_upload a {
    color: #FFFFFF;
    line-height: 35px;
    margin: 0% 10%;
}
.add {
    display: block;
    margin-top: 39px;
}
.user_upload img {
    margin-left: 10px;
}
.add a {
    background-color: #84AED3;
    color: #FFFFFF;
    padding: 7px 10px;
    margin-top: 10px !important;
    border-radius: 0px 4px 4px 0px;
}
.add ul {
    margin: 0px;
    padding: 0px;
}
.add li {
    background-color: #fff;
    list-style: none;
    border-radius: 4px 4px 4px 4px;
    padding: 5px 10px;
    margin: 10px 0px;
}
.add li a {
    background-color: #fff;
    color: #000;
    margin-top: 10px !important;
    margin-left: 36%;
    line-height: 15px;
}
.add li a:hover {
    background-color: #fff;
    border-radius: 4px 4px 4px 4px;
}
.add a:hover {
    background-color: #4c779c;
}
.gender {
    width: 100%;
    display: block;
    margin-top: 4px;
}
.inline {
    display: inline-block;
}
.inline + .inline {
    margin-left: 10px;
}
/*Radio Button*/

.inline3 {
    display: inline-block;
    margin-top: 5px;
}
.inline 3 + .inline3 {
    margin-left: 10px;
    padding-left: 0px;
}
.radio3 {
    color: #000;
    font-size: 14px;
    position: relative;
}
.radio3 span {
    position: relative;
    padding-left: 20px;
}
.radio3 span:after {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #84AED3;
    position: absolute;
    left: 0;
    top: 0px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.radio3 input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.radio3 input[type="radio"]:checked + span {
    color: #000;
}
.radio3 input[type="radio"]:checked + span:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #2B4152;
    left: 4px;
    top: 4px;
    border-radius: 100%;
    -ms-border-radius: 100%;
}
/*search client*/

.searching {
    width: 100%;
    display: block;
    background-color: #84AED3;
    margin-top: 0px;
    padding-top: 10px;
}
.search_btn_emp {
    height: 36px;
    background-color: #789CBC;
    border: 0px;
    border-radius: 0px 4px 4px 0px;
    line-height: 0px;
    padding: 0px 10px;
}
.searching select {} .searching select {
    width: 100%;
    background: url('../img/Dropdown_icon 02.png') no-repeat;
    background-position: 96% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 36px;
    border: 0px !important;
    padding: 6px 20px 10px 10px;
    background-color: #DBE9F9;
}
.searching input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.428571429;
    color: #000000;
    vertical-align: middle;
    background-color: #ffffff;
    border-left: 0px solid #CEE1EE;
    border-right: 1px solid #c7c7cc;
    border-top: 0px solid #c7c7cc;
    border-bottom: 0px solid #c7c7cc;
    border-radius: 4px 0px 0px 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.not-started-icon {
    color: #6698c4;
    padding-right: 10px;
}
.complete-icon {
    color: #30b6b1;
    padding-right: 10px;
}
.incomplete-icon {
    color: #DB4b4f;
    padding-right: 10px;
}
.searching_assessments {
    display: block;
    width: 100%;
}
.table-assessments {
    border: 1px solid #DDDDDD;
}

.table-assessments tr td{padding:12px 8px !important;}

.searching_assessments button {
    height: 36px;
    background-color: #789CBC;
    border: 0px;
    border-radius: 0px 4px 4px 0px;
    line-height: 0px;
    padding: 0px 10px;
}
.searching_assessments select {} .searching select {
    width: 100%;
    background: url('../img/Dropdown_icon 02.png') no-repeat;
    background-position: 96% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 36px;
    border: 0px !important;
    padding: 6px 20px 10px 10px;
    background-color: #DBE9F9;
}
.searching_assessments input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.428571429;
    color: #000000;
    vertical-align: middle;
    background-color: #ffffff;
    border-left: 1px solid #c7c7cc;
    border-right: 1px solid #c7c7cc;
    border-top: 1px solid #c7c7cc;
    border-bottom: 1px solid #c7c7cc;
    border-radius: 4px 0px 0px 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.serach_innner {
    margin: 0px 0px 0px -18px;
}
.inline {
    display: inline-block;
}
.inline2 + .inline2 {
    margin-left: 17px;
}
.radio2 {
    color: #fff;
    font-size: 14px;
    position: relative;
}
.radio2 span {
    padding-left: 20px;
}
.radio2 span:after {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    top: 2px;
    border-radius: 100%;
    -ms-border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.radio2 input[type="radio"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.radio2 input[type="radio"]:checked + span {
    color: #fff;
}
.radio2 input[type="radio"]:checked + span:before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    background: #2B4152;
    left: 4px;
    top: 6px;
    border-radius: 100%;
    -ms-border-radius: 100%;
}
/*close*/

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4C8FEC url(../img/menu-icon.png) center;
}
a:hover#menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
}
.container2 {
    width: 87%;
    margin: 0px auto;
}
#button_float {
  /*display: inline-block;
  margin: 20px auto;
  text-align: center;
  width: 100%;*/
}
.page-header {
  font-size: 22px;
}
.bg_color1 {
    background-color: #84AED3 !important;
    width: 100%;
}
.add_employee {
    background-color: #FFFFFF;
    border-radius: 4px;
    float: right;
    color: #1A1A1A;
    margin-top: 4%;
    font-size: 17px;
    font-family: 'humnstb';
}
.add_employee .icon {
    margin-left: 20px;
    padding-right: -5px;
}
.add_employee:hover {
    background-color: #2B4152;
    color: #FFFFFF;
}
.col_paading0 {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px !important;
    padding-right: 0px;
}
.col_paading0 {
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
.col_margin {
    margin-left: 0px;
    padding-left: 0px;
}
.active_employee {
    background-color: #35B1B4;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0px 16px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 5px;
    box-shadow: 0px 0px 1px 1px #fff;
}
.archieved {
    background-color: #E3B91D;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0px 16px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 5px;
    box-shadow: 0px 0px 1px 1px #fff;
}
.hospitalized {
    background-color: #DD4E49;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0px 16px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 5px;
    box-shadow: 0px 0px 1px 1px #fff;
}
.inactive_employee {
    background-color: #D55349;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0px 16px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 5px;
}
.inactive_employee2 {
    background-color: #E3BA28;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 0px 16px;
    font-size: 18px;
    line-height: 22px;
    margin-left: 5px;
    box-shadow: 0px 0px 1px 1px #fff;
}
.employee {
    width: 100%;
    box-shadow: 5px 5px 5px #e6e6e6;
    background-color: #ffffff !important;
    display: inline-block;
    margin-bottom: 20px;
     min-height: 130px;
}
.employee h2 {
    color: #84AED3;
    font-family: 'humnstxb';
    padding: 9px 5px 0;
    /*line-height: 0px;*/
    font-size: 22px;
}
.employee p {
    font-size: 14px;
    padding: 0px 5px;
    font-family: 'humnstl';
    margin-bottom: 4px !important;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #333333;
}
.employee .small1 {
    font-size: 12px !important;
    padding: 0px 5px;
    font-weight: bold;
    color: #666666;
    letter-spacing: 0.6px;
    padding-top: 5px !important;
}
.employee .emimage {
    background-color: #2C404F;
    padding: 15px 5px;
    display: inline-block;
    margin-left: 0px;
}
.emimage img {
    border-radius: 5px;
    max-height: 130px;
    height: auto;
    width: 100%;
}
///////////////////////////clients/////////////////////////////////////////////
.hospitailized_clients {
    background-color: #D55349;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 3px 30px;
    font-size: 16px;
    line-height: 25px;
    margin-left: 5px;
}
.clients {
    width: 100%;
    box-shadow: 5px 5px 5px #e6e6e6;
    background-color: #ffffff !important;
    display: inline-block;
    margin-bottom: 20px;
    height: 161px;
}
.clients h2 {
    color: #84AED3;
    font-family: 'humnstxb';
    padding: 0px 5px;
    line-height: 0px;
    font-size: 22px;
}
.clients p {
    font-size: 14px;
    padding: 0px 5px;
    font-family: 'humnstl';
    margin-bottom: 4px !important;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: #333333;
}
.clients .small1 {
    font-size: 12px !important;
    padding: 0px 5px;
    font-weight: bold;
    color: #666666;
    letter-spacing: 0.6px;
    padding-top: 0px !important;
}
.clients .climage {
    background-color: #799CBB;
    padding: 15px 5px;
    display: inline-block;
    margin-left: 0px;
}
.climage img {
    border-radius: 5px;
    height: auto;
    max-height: 130px;
    width: 100%;
}
/////////////////////////////////////////////////////////////////////////////
.bg_dark {
    background-color: #2C404F;
}
.top0 {
    margin-top: 0px !important;
    padding-top: 0px;
}
/*client login area*/

.clent-login-detail {
    background-color: #84AED4;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 10px;
    margin-top: 60px;
}
.clent-login-detail img {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin-top: 5px;
    height: 115px;
    width: 115px;
}
.clent-login-detail h2 {
    color: #fff;
    font-family: 'humnstxb';
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.clent-login-detail p {
    line-height: 22px;
    margin-bottom: 0px !important;
    letter-spacing: 0.3px;
    margin-bottom: 0px !important;
}
.darkpara {
    background-color: #789CBE;
    border-radius: 10px;
    margin: 2px 10px 10px 10px;
    padding: 5px 10px;
}
.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid green;
}
/*close*/
/*  form field */

.padding4 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.form-control {
    background-color: #FFFFFF;
}
/* close */

@media only screen and (max-width: 768px) {
    form .col-md-6:last-child {
        margin-top: 15px;
    }
    .align-right {
        text-align: inherit;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1450px;
    }
}
.button_float {
    float: right;
}
.align-right {
    text-align: right;
}
.calender-btn {
    background-color: #84AED3;
    padding: 6px 12px;
    width: 100%;
}
.button_background_yes {
    background-color: #30B6B0;
    border-color: #30B6B0;
    padding: 2px 19px;
    font-size: 17px;
}
.button_background_yes:hover {
    background-color: #ffffff;
    color: #30B6B0;
    border-color: #30B6B0;
}
.button_background_no {
    background-color: #D9514C;
    border-color: #D9514C;
    background-color: #D9514C;
    border-color: #D9514C;
    padding: 2px 19px;
    font-size: 17px;
}
.button_background_no:hover {
    color: #D9514C;
    background-color: #ffffff;
    border-color: #D9514C;
}
.cross {
    color: #ffffff;
    background-color: #D95149;
    border-color: #D95149;
    padding: 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
    padding-top: 3px;
}
.comment {
    color: #ffffff;
    background-color: #84AED4;
    border-color: #84AED4;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
    cursor: default;
}
.comment:hover {
    color: #84AED4;
    background-color: #fff;
    border-color: #84AED4;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
}
.view-report {
    color: #ffffff;
    background-color: #84AED4;
    border-color: #84AED4;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
}
.view-report:hover {
    color: #84AED4;
    background-color: #fff;
    border-color: #84AED4;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
}
.print-report {
    color: #ffffff;
    background-color: #84AED4;
    border-color: #84AED4;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
}
.print-report:hover {
    color: #84AED4;
    background-color: #fff;
    border-color: #84AED4;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
}
.right_backround_white {
    color: #2EB7B1;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 30px;
    width: 30px;
    font-size: 17px;
}
.right_backround_white:hover {
    color: #ffffff;

    background-color: #2EB7B1;
    border-color: #ffffff;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 30px;
    width: 30px;
    font-size: 17px;
}
.inactive_gray_backround {
    color: #ffffff;
    background-color: #656565;
    border-color: #656565;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 30px;
    width: 30px;
    font-size: 17px;
}
.inactive_gray_backround:hover {
    color: #656565;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 2px 0px;
    border-radius: 50% !important;
    height: 30px;
    width: 30px;
    font-size: 17px;
}
.button2_gray2 {
    background-color: #E7E7E7;
    color: #656565;
    font-family: 'humnstb';
    font-size: 17px;
    border: 1px solid #C5C5C5;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 2px;
    margin-left: 0px;
}
.button2_gray2:hover {
    background-color: #4c779c;
    color: #fff;
}
.button2_active {
    background-color: #35B1B4 !important;
    color: #fff;
    font-size: 17px;
    margin-right: 2px;
    padding: 3px 15px;
}
.button2_active .activeted {
    background-color: #35B1B4 !important;
    color: #fff;
    font-size: 17px;
}
.button2_active:hover {
    background-color: #CCCCCC !important;
    color: #666;
    font-size: 17px;
}
.button2_inactive {
    background-color: #CCCCCC !important;
    color: #666 !important;
    font-size: 17px !important;
    padding: 3px 15px;
}
.button2_inactive:hover {
    background-color: #EDB325 !important;
    color: #fff !important;
    font-size: 17px;
}
.button2_inactive .inactiveted {
    background-color: #CCCCCC !important;
    color: #666 !important;
    font-size: 17px !important;
}
.button-width {
    display: inline;
    border: 1px solid #84AED3;
    width: 50%; font-size:15px;
    text-align: center !Important;
}
.button-width:hover {
    background-color: #84AED3;
    border: 1px solid #84AED3; font-weight:bold;
}
.right_active {
    color: #ffffff;
    background-color: #2EB7B1;
    border-color: #2EB7B1;
    padding: 0px 0px;
    border-radius: 50% !important;
    height: 20px;
    width: 20px;
    font-size: 12px;
    margin-right: 5px;
}
.right_active:hover {
    color: #2EB7B1 !important;
    background-color: #ffffff;
    border-color: #2EB7B1 !important;
    padding: 0px 0px;
    border-radius: 50% !important;
    height: 20px;
    width: 20px;
    font-size: 12px;
}
.right_deactive {
    color: #ffffff;
    background-color: #FDCD03;
    border-color: #FDCD03;
    padding: 0px 0px;
    border-radius: 50% !important;
    height: 20px;
    width: 20px;
    font-size: 12px;
    margin-right: 5px;
}
.right_deactive:hover {
    color: #FDCD03 !important;
    background-color: #ffffff;
    border-color: #FDCD03 !important;
    padding: 0px 0px;
    border-radius: 50% !important;
    height: 20px;
    width: 20px;
    font-size: 12px;
}
.right {
    color: #ffffff;
    background-color: #2EB7B1;
    border-color: #2EB7B1;
    padding: 3px 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 18px;
}
.right:hover {
    color: #2EB7B1;
    background-color: #ffffff;
    border-color: #2EB7B1;
    padding: 0px;
    border-radius: 50% !important;
    height: 35px;
    width: 35px;
    font-size: 21px;
}
.delete {
    color: #ffffff;
    background-color: #D8524C;
    border-color: #D8524C;
    padding: 2px 0px;
    ;
    border-radius: 50% !important;
    margin-left: 15px;
    height: 35px;
    width: 35px;
    font-size: 21px;
}
.delete:hover {
    background-color: #fff;
    border-color: #D8524C;
    color: #D8524C;
}
.view {
    color: #ffffff;
    background-color: #82AFD7;
    border-color: #82AFD7;
    padding: 2px 0px;
    border-radius: 50% !important;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    font-size: 21px;
}
.outcome-task-disable {
    color: #ffffff;
    background-color: #FDCB03;
    border-color: #FDCB03;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.outcome-task-disable:hover {
    color: #FDCB03;
    background-color: #ffffff;
    border-color: #FDCB03;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.outcome-task-edit {
    color: #ffffff;
    background-color: #2A4053;
    border-color: #2A4053;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.outcome-task-edit:hover {
    color: #2A4053;
    background-color: #ffffff;
    border-color: #2A4053;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.outcome-task-delete {
    color: #ffffff;
    background-color: #DA504F;
    border-color: #DA504F;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.outcome-task-delete:hover {
    color: #DA504F;
    background-color: #ffffff;
    border-color: #DA504F;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.outcome-task-enable {
    color: #ffffff;
    background-color: #2FB6AF;
    border-color: #2FB6AF;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.outcome-task-enable:hover {
    color: #2FB6AF;
    background-color: #ffffff;
    border-color: #82AFD7;
    padding: 8px 0px;
    height: 45px;
    width: 35px;
    font-size: 20px;
}
.edit {
    color: #ffffff;
    background-color: #274155;
    border-color: #82AFD7;
    padding: 0px;
    border-radius: 50% !important;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    font-size: 21px
}
.edit2:hover {
    background-color: #fff;
    border-color: #274155;
    color: #274155;
}
.edit2 {
    color: #ffffff;
    background-color: #274155;
    border-color: #82AFD7;
    padding: 0px;
    border-radius: 50% !important;
    margin-right: 15px;
    height: 30px;
    width: 30px;
    font-size: 18px;
    font-weight: 200
}
.edit2:hover {
    background-color: #fff;
    border-color: #274155;
    color: #274155;
}
.view:hover {
    background-color: #fff;
    border-color: #82AFD7;
    color: #82AFD7;
}
.file_upload_table_outer {
    background-color: #FFFFFF;
    border: 1px solid #82AFD7;
    border-radius: 4px;
    padding: 0px 0px 0px 0px;
}
.gray_color {
    color: #666666 !important;
    font-family: 'humnstb'
}
.table-bordered {
    border: 1px solid #84AED4 !important;
}
.table-bordered table tr th {
    border-left: 0px #000000 solid;
}
/*.file_upload_table_outer table tr td{display:inline-block;}*/

.file_upload_table tr td {
    background-color: #FFFFFF !important;
    border: 1px solid #e8e8e8 !important;
}
.file_clearnotes_table tr td {
    background-color: #FFFFFF !important;
    border: 1px solid #e8e8e8 !important;
    vertical-align: top !important;
}
.report_table tr td {
    background-color: #FFFFFF !important;
    border: 1px solid #e8e8e8 !important;
}
.GP_notes_table tr td {
    background-color: #FFFFFF !important;
    border: 1px solid #e8e8e8 !important;
    vertical-align: middle !important;
}
.table_radius {
    border-radius: 4px 4px 0px 0px !important;
    border-collapse: separate;
}
.table_radius2 {
    border-radius: 4px 4px 0px 0px !important;
}
.table_radius2 tr td {
    white-space: nowrap !Important;
}
/*.table-scroll {
  max-width: 100%;
  overflow-x: scroll;
  
  overflow-y: visible;
  padding: 0; margin-left:148px;
}
*/




.table-width-scroll {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;
}
.table-height-scroll {
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    max-height: 220px;
}
.headcol {
    position: absolute;
    left: 15px;
    width: 150px;
    padding: 8px 40px !important;
    border-top-width: 1px;
    /*only relevant for first row*/
    
    text-align: left !important;
    /*compensate for top border*/
}
.headrow {
    padding: 8px 40px !important;
    border-top-width: 1px;
    /*only relevant for first row*/
    
    text-align: center !important;
    margin-top: 30px;
    /*compensate for top border*/
}
thead.headrow tr {
    position: relative;
}
.headcol:before {} .table_radius2 {
    border-radius: 4px 4px 0px 0px !important;
}
.file_upload_table tr th:first-child {
    border-left: 0px #FFFFFF solid;
}
.background_color_blue_calendar {
    background-color: #84AED4 !IMPORTANT;
    color: #FFFFFF !important;
}
.background_color_blue {
    background-color: #84AED4 !IMPORTANT;
    color: #FFFFFF;
    padding: 16px 10px !important;
    border-top: 0px solid #000000 !important;
    font-size: 17px; border-bottom:0px  !important;
}
.background_color_blue_left {
    background-color: #84AED4 !IMPORTANT;
    color: #FFFFFF;
    padding: 16px 10px !important;
    border-radius: 0px 0px 0px 0px;
    border-left: 0px solid #000000 !important;
    border-top: 0px solid #000000 !important; border-bottom:0px  !important;
    font-size: 17px;
}
.td_border_radius_letf_top {
    border-radius: 10px 0px 0px 0px;
}
.td_border_radius_right_top {
    border-radius: 0px 10px 0px 0px;
}
.td_border_radius_letf_bottom {
    border-radius: 0px 0px 0px 10px;
}
.td_border_radius_right_bottom {
    border-radius: 0px 0px 10px 0px;
}
.background_color_blue_right {
    background-color: #84AED4 !IMPORTANT;
    color: #FFFFFF;
    padding: 16px 8px !important;
    border-radius: 0px 0px 0px 0px;
    border-right: 0px !important;
    border-top: 0px !important;
    font-size: 17px; border-bottom:0px  !important;
}
#td_backround_color_none {
    background-color: #f7f7f7 !important;
}
#td_backround_color_none table tr td:last-child {
    border-radius: 0px 10px 10px 0px;
}
.wrapper_inner {
    background-color: #FFFFFF;
    border: 1px solid #84AED4;
    border-radius: 0px 0px 8px 8px;
    display: inline-block;
}
.care-plan-heding {
    background-color: #84AED4;
    color: #FFFFFF;
    border-left: 0px !important;
    border-right: 0px !important;
    font-size: 20px;
    letter-spacing: 0.5px;
    text-align: left;
    font-family: 'humnstb';
}
.font-color-blue_12px {
    color: #84AED4;
    font-weight: 300;
    margin-bottom: 0px;
    font-size: 12px;
}
.font-color-blue {
    color: #84AED4;
    font-weight: 600;
}
.font-color-blue500 {
    color: #84AED4;
    font-weight: 500;
    margin-top: 14px;
}
.outcomes li {
    list-style: none;
    padding-left: 0px;
}
.outcomes li:before {
    content: "\25cf";
    font-size: 1.2em;
    color: #84AED4;
    margin-right: 14px;
}
.font-color-blue_bigsize {
    color: #84AED4;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.1px;
}
.days {
    background-color: #F0F0F0;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    display: block;
}
.time {
    background-color: #4D4D4D;
    color: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
}
.time h3 {
    margin-bottom: 5px;
    margin-top: 10px;
}
.time h3 {
    font-weight: 600;
}
.time p {
    margin-bottom: 5px;
}
.days ul {
    margin-left: 0px;
    padding-left: 0px;
}
.backround_gray {
    background-color: #F0F0F0;
    border: 1px #DDDDDD solid;
    border-radius: 5px;
    padding: 5px 10px 10px 10px;
    display: inline-block;
}
.backround_gray_noborder {
    background-color: #e6e6e6;
    border: 0px #DDDDDD solid;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    width: 100%;
}
.backround_white {
    background-color: #Ffffff;
    border: 1px #DDDDDD solid;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: inline-block;
}
.border_gray {
    border: 1px #DDDDDD solid;
    border-radius: 5px;
    display: inline-block;
    padding-bottom: 10px;
}
ul.blue_dot li:before {
    content: "\25cf";
    font-size: 1.0em;
    color: #84AED4;
    padding-right: 10px; 
}
ul.blue_dot ul li {
    margin-left: 0px;
    padding-left: 0px;
}
ul.gray_dot li:before {
    content: "\25cf";
    font-size: 1em;
    color: #666666;
    padding-right: 10px;
}
ul.gray_dot ul li {
    margin-left: 0px;
    padding-left: 0px;
}
.backround_gray h2 {
    color: #666666;
    margin-bottom: 5px;
    margin-top: 0px;
    color: #84AED4;
    font-weight: 600;
    font-size: 18px;
}
.background_blue_border_redius5 {
    background-color: #84AED4;
    border-radius: 5px;
    color: #FFFFFF;
}
.text_align_center {
    text-align: center;
}
.font_size18bold {
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 0px !important;
    margin-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
}
.font_size19bold {
    font-size: 18px;
    font-weight: 600;
    padding-top: 0px;
    padding-bottom: 0px !important;
    margin-top: 0px;
    padding-bottom: 0px;
    line-height: 16px;
}
.font_size12light {
    font-size: 12px;
    color: #666666;
}
.font_size12 {
    font-size: 12px;
  
}


.font_size18bold_top0 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 0px;
    padding-bottom: 0px !important;
    margin-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
}
.font_weight_bold {
    font-weight: bold;
}
.border_left_gray {
    border-left: 1px solid #cccccc;
    padding-right: 0px;
    margin-left: 0px;
}
.float_right {
    float: right;
}
.nicescroll-rails {} #ascrail2001 {
    width: 260px;
    left: 257px !important;
}
.button2_gray3 {
    background-color: #E7E7E7;
    color: #666;
    font-family: 'humnstl';
    font-size: 15px;
    border: 1px solid #CCCCCC;
    margin: 5px 2px 2px 0px;
}
.button2_gray3:hover {
    background-color: #84AED4;
    color: #fff;
    font-weight: bold;
    font-family: 'humnstl';
    font-size: 15px;
    border: 1px solid #CCCCCC;
    margin: 5px 2px 2px 0px
}
.button2_gray4_blueborder {
    background-color: #E7E7E7;
    color: #666;
    font-family: 'humnstl';
    font-size: 15px;
    border: 1px solid #84AED3;
    margin: 5px 10px 2px 0px;
    width: 100%;
}
.button2_gray4_blueborder:hover {
    background-color: #84AED3;
    color: #fff;
    font-family: 'humnstl';
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #E7E7E7;
    margin: 5px 10px 2px 0px;
}


.button2_task_type {
    background-color: #84AED3;
    color: #fff;
    font-family: 'humnstl';
    font-size: 15px;
    border: 1px solid #84AED3;
    margin: 5px 10px 5px 0px; font-weight:bold;
    width: 100%;
}
.button2_task_type:after {
    content: "\f00c";
    margin-left: 25px;
    font-family: FontAwesome;
}
.button2_task_type:hover {
    background-color: #84AED3;
    color: #fff;
    font-family: 'humnstl';
    font-size: 15px;
    border: 1px solid #84AED3;
    margin: 5px 10px 5px 0px;
}



.button2_bluebackround {
    background-color: #84AED3;
    color: #fff;
    font-family: 'humnstl';
    font-size: 15px;
    border: 1px solid #84AED3;
    margin: 5px 10px 5px 0px;
    width: 100%;
}
.button2_bluebackround:after {
    content: "\f00c";
    margin-left: 25px;
    font-family: FontAwesome;
}
.button2_bluebackround:hover {
    background-color: #84AED3;
    color: #fff;
    font-family: 'humnstl';
    font-size: 15px;
    border: 1px solid #84AED3;
    margin: 5px 10px 5px 0px;
}
.button2_small {
    background-color: #84AED3;
    color: #FFFFFF;
    font-family: 'humnstl';
    font-size: 15px;
    margin: 5px 2px 2px 0px;
}
.active-btn {
    background-color: #84AED3;
    color: #FFFFFF;
    font-family: 'humnstl';
    font-size: 15px;
    margin: 5px 2px 2px 0px;
    font-weight: bold !important;
}
.button2_small:hover {
    background-color: #E6E6E6;
    color: #666;
    font-weight: bold;
    font-family: 'humnstl';
    font-size: 15px;
    margin: 5px 2px 2px 0px;
    border: 1px solid #CCCCCC;
}
.btn-default.active {
    background-color: #84AED3;
    border: 1px solid #84AED3; font-weight:bold;
}
.roster-new-visit-half {
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #F00), color-stop(fff, #00F));
    background: -moz-linear-gradient(left center, #5CC5E2 50%, #fff 50%);
    background: -o-linear-gradient(left, #5CC5E2 50%, #fff 50%);
    background: linear-gradient(to right, #5CC5E2 50%, #fff 50%);
    color: #FFFFFF;
}
.border-gray {
    border: 1px solid #CCCCCC;
}
.roster-client-heading {
    background-color: #84AED4;
    color: #FFFFFF;
}
.roster-client {
    background-color: #789CBE !important;
    color: #FFFFFF;
}
.roster-visit-completed {
    background-color: #80BCA2 !important;
    color: #FFFFFF;
}
.roster-visit-incomplete {
    background-color: #80BCA2 !important;
    color: #FFFFFF;
}
.roster-visit-missed {
    background-color: #EAB624 !important;
    color: #FFFFFF;
}
.roster-visit-completed-icon {
    background-color: #80BCA2 !important;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.roster-visit-missed-icon {
    background-color: #EAB624 !important;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.roster-visit-incomplete-icon {
    background-color: #DA4F4E !important;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.roster-new-visit-icon {
    background-color: #5CC6DF !important;
    width: 13px;
    height: 13px;
    border-radius: 50%;
}
.roster-visit-incomplete {
    background-color: #DB4F50 !important;
    color: #fff;
}
.roster-new-visit {
    background-color: #80BCA2 !important;
    color: #FFFFFF;
}
.roster-client-heading {
    background-color: #84AED4 !important;
    color: #FFFFFF;
    border-top: 0px solid #33CCCC !important;
}
.roster-client-heading_leftt {
    border-left: 0px solid #33CCCC !important;
    border-top: 0px solid #33CCCC !important;
    background-color: #84AED4;
    color: #FFFFFF
}
.roster-client-heading_rightt {
    border-right: 0px solid #33CCCC !important;
    background-color: #84AED4;
    color: #FFFFFF;
    border-top: 0px solid #33CCCC !important;
}
.roster-careworker-heading {
    background-color: #2B4051 !important;
    color: #FFFFFF;
}
.font-weight-bold {
    font-weight: bold;
    color: #333333;
}
.font-weight300 {
    font-weight: 300;
    font-family: 'humnstl';
    font-size: 15px;
}
.fontsize20 {
    font-size: 20px;
}
.button-padding {
    padding: 3px 10px;
}
.fontsize14 {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #333333;
}
.width100 {
    width: 100% !important;
}
.border-radius0 {
    border-radius: 0px !important;
}
.nav-pills-sheduler> li {
    width: 49% !important;
    background-color: #CCCCCC;
    color: #4D4D4D !important;
    text-align: center;
}
.nav-pills-sheduler > li > a {
    color: #4d4d4d;
    font-weight: bold;
    padding-left: 11%;
}
.nav-pills-sheduler > li >a:hover {
    background: #4d4d4d !important;
    color: #FFFFFF;
}
.nav-pills-sheduler > li.active > a,
.nav-pills-sheduler > li.active > a:hover,
.nav-pills-sheduler > li.active > a:focus {
    color: #fff !important;
    background: #4d4d4d !important;
    padding-left: 11%;
}
.nav-pills-sheduler > li.active:after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-size: 38px;
    text-align: center;
    padding-top: -0px;
    margin-top: -4px !important;
    line-height: 0px;
    position: absolute;
    color: #4d4d4d;
}
.search-border {
    border: 1px solid #D0D0D0 !important;
    border-radius: 0px !important;
}
.search-border-radius0 {
    border-radius: 0px !important;
}
.search-border-radius0 img {
    margin-top: -4px !important;
}
.lineheight {
    line-height: 27px;
}
.tootip1 {
    /*width:100%; border:1px solid #84AED4; display:inline-block; */
}
/*.tootip1:after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-size: 38px;
    text-align: center;
    padding-top: -0px;
    margin-top: 20px !important;
    line-height: 0px;
    position: absolute;
    color: #ffffff;border:1px solid #84AED4; 
}*/

.tootip1 {
    position: relative;
    background-color: #FFFFFF;
    padding: 10px;
    border: 2px solid #84AED4;
    border-radius: 8px;
}
.tootip1:after,
.tootip1:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tootip1:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #FFFFFF;
    border-width: 18px;
    margin-left: -21px;
}
.tootip1:before {
    border-color: rgba(194, 225, 245, 0);
    border-top-color: #84AED4;
    border-width: 20px;
    margin-left: -23px;
}
.background-color-green {
    background-color: #80BCA2;
    color: #FFFFFF !important;
    padding: 0px 12px;
}
.text-color-dark {
    color: #232323;
    text-decoration: underline;
}
.text-color-green {
    color: #80BCA2;
}
.font-bold {
    font-weight: bold;
}
.font-bold-gray {
    font-weight: bold; color:#565656;
}
.margin-top00 {
    margin-top: 0px !important;
}
.font-size13 {
    font-size: 13px !important;
}
.visit-shedule-tab {
    background-color: #FFFFFF;
    border: 1px solid #84AED4;
    border-radius: 5px;
    display: table;
    width: 100%;
}
.visit-shedule-tab li {
    display: table-cell;
    float: none;
    text-align: center;
}
.visit-shedule-tab > li > a:first:child {
    border-radius: 5px 5px 0px 0px;
}
.visit-shedule-tab > li > a:last:child {
    border-radius: 5px;
}
.visit-shedule-tab li a {
    border-radius: 0px;
    padding: 6px 22px;
    color: #666666;
}
.visit-shedule-tab > li.active > a,
.visit-shedule-tab > li.active > a:hover,
.visit-shedule-tab > li.active > a:first-child {
    border-radius: 0px 0px 0px 0px !important;
    background-color: #84AED4; font-weight:bold;
}
.visit-shedule-tab > li.active > a,
.visit-shedule-tab > li.active > a:hover,
.visit-shedule-tab > li.active > a:last-child {
    border-radius: 0px 0px 0px 0px !important;
}
.time-span-tab {
    background-color: #FFFFFF;
    border: 1px solid #84AED4;
    border-radius: 5px;
    display: table;
    width: 100%;
}
.time-span-tab li {
    display: table-cell;
    float: none;
    text-align: center; width:50%;
}
.time-span-tab li a {
    border-radius: 0px;
    padding: 6px 42px;
    color: #666666;
    font-size: 15px;
}
.time-span-tab > li.active > a,
.time-span-tab > li.active > a:hover,
.time-span-tab > li.active > a:first-child {
    border-radius: 0px 0px 0px 0px !important;
    background-color: #84AED4; font-weight:bold;
}
.time-span-tab > li.active > a,
.time-span-tab > li.active > a:hover,
.time-span-tab > li.active > a:last-child {
    border-radius: 0px 0px 0px 0px !important;
}
.client-summary-edit ul {} .client-summary-edit ul li {
    display: inline;
    text-align: center;
    vertical-align: middle;
}
.client-summary-edit ul li a {
    color: #FFFFFF;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    background-color: #7D9CB9;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.client-summary-heding {
    background-color: #84AED4;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 10px;
    text-align: left;
}
.wrapper_client_summary {
    background-color: #FFFFFF;
    border: 1px solid #84AED4;
    border-radius: 8px 10px 8px 10px;
    display: inline-block;
}
.color-black {
    color: #000000;
}
.font-size15 {
    font-size: 15px;
    letter-spacing: 0.5px;
}
.full-width {
    width: 100%;
}
.login-background {
    background-image: url(../img/Background.png) !Important;
}
.login-page {

    background-color: #84AED4;
    border-radius: 50%;
    color: #FFFFFF;
    padding: 20px;
    display: table;
    text-align: center;
    height: auto;
}
.login-page p {
    color: #FFFFFF;
}
.login-page h3 {
    color: #FFFFFF;
}
.login-page a {
    color: #FFFFFF;
    text-decoration: underline;
	
}

.login-page a:hover{text-decoration:none;}
.form-setting {
    width: 450px;
    height: 450px;
    padding: 20%;
}
.usename {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid #FFFFFF;
    color: #ffffff !important;
    height: 46px;
}

.usename:focus{border: solid #FFFFFF 1px;}


.login-button:hover{color: #fff;
    border-color: #84AED4; background-color:#2b4152;}
.login-button {
    padding: 10px 50px;
    color: #84AED4;
    border-color: #84AED4;
    font-weight: bold; font-size:16px;
}
.usename::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    
    color: #fff;
}
.usename::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #fff;
}
.usename:-ms-input-placeholder {
    /* IE 10+ */
    
    color: #fff;
}
.usename:-moz-placeholder {
    /* Firefox 18- */
    
    color: #fff;
}

.rest-password{margin-top:40% !important;background-color:#84AED4;border: 1px solid rgba(255, 255, 255, 0.48); }
.rest-password .header-border{border-bottom:0px solid #330066;}
.rest-button{background-color:#FFFFFF; padding:10px; color:#84AED4; font-size:16px;}
.rest-password-textfield{  border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid #FFFFFF;
    color: #ffffff !important;
    height: 46px;}



.rest-password-textfield::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    
    color: #fff;
}
.rest-password-textfield::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #fff;
}
.rest-password-textfield:-ms-input-placeholder {
    /* IE 10+ */
    
    color: #fff;
}
.rest-password-textfield:-moz-placeholder {
    /* Firefox 18- */
    
    color: #fff;
}
.text-align-left{text-align:left !important;}

.mar-care-worker-profile{ background-color:#84AED4;padding:15px; color:#FFFFFF; border-radius:5px;}
.care-worker-profile img{border-radius:50%; border:2px solid #FFFFFF;}
.mar-care-worker-profile h3{font-size:20px; color:#FFFFFF; font-weight:bold;}
.mar-care-worker-profile  p{color:#FFFFFF; line-height:22px;}
.border-right-white{border-right:1px solid #FFFFFF;}
.border-left-white{border-left:1px solid #FFFFFF;}



.mar-tabel-time > thead > tr > th, .mar-tabel-time > tbody > tr > th, .mar-tabel-time > tfoot > tr > th, .mar-tabel-time > thead > tr > td, .mar-tabel-time > tbody > tr > td, .mar-tabel-time > tfoot > tr > td{border:1px solid #9abbd8 !important;}


.mar-tabel-time h4{ font-size:18px; font-weight:bold; color:#84AED4;  font-family: 'humnstb';}
.td-bg-white{background-color:#FFFFFF;  font-family: 'humnstb';} 
.td-bg-blue{background-color:#84AED4; color:#FFFFFF; text-align:center; font-weight:bold;  font-family: 'humnstb';}
.td-bg-darkblue{background-color:#789CBE; color:#FFFFFF; text-align:center; font-weight:bold;  font-family: 'humnstb';}


.td-bg-darkblue2{background-color:#2B4051; color:#FFFFFF; font-weight:bold;  font-family: 'humnstl';}
.td-bg-darkblue2 h3{font-weight:bold;}
.td-bg-darkblue2 p{font-weight:200;}

.mar-tabel-day{ text-align:center;  font-family: 'humnstl'; background-color:#ECECEC; font-size:12px;}

.mar-tabel-day p{margin-bottom:0px; color:#666666; line-height:11px;}

.medication-completed{color:#80BCA2;font-size: 15px;}

.partially-completed{color:#5CC6E0;font-size: 15px;}

.medication-incompleted{color:#DB4F4F;font-size: 15px;}

.medication-missed{color:#D5A2C1;font-size: 15px;}

.medication-not-care-on-visit{color:#BDBC6A;font-size: 15px;}

.medication-to-be-completed-in-the-future{color:#C7B4A6;font-size: 15px;}

.icon-table-bordered > thead > tr > th, .icon-table-bordered > tbody > tr > th, .icon-table-bordered > tfoot > tr > th, .icon-table-bordered > thead > tr > td, .icon-table-bordered > tbody > tr > td, .icon-table-bordered > tfoot > tr > td{}

.mar-table-border{border:1px solid #84AED4 !important;} 
.headcol2{
    position: absolute;
    left: 15px;
     width: 232px;
    padding: 8px 20px !important;
    border-top-width: 1px;
    text-align: left !important;     height: 191px; margin-top:-1px;
}
.headcol3{
    position: absolute;
    left: 246px;
    width:55px;
   
    border-top-width: 1px;
    text-align: center  !important;margin-top:-1px;
}

.headcol4{
    position: absolute;
    left: 300px;
    width: 43px;

    border-top-width: 1px;
    text-align:center !important;margin-top:-1px;
}
.headcol5{
    position: absolute;
 left: 246px;
    width: 97px;
    padding: 8px 40px !important;
    border-top-width: 1px;
    text-align: left !important;margin-top:-1px;
}
.table-width-scroll2 {
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: visible;
    padding: 0;
	
    margin-left: 326px;
    }
	.assessments-arrow{font-size:37px;}
	.text-align-right{text-align:right;}
.simiar-div{	
	    display: inline-flex;}
.simiar-div2{	
	    display: inline-flex; width:100%;}
		
.color-dark-blue{color:#87A2B7;}
.dx-scheduler-header.dx-widget {
  display: none;
}
body .dx-scheduler-work-space {
  margin-top: 0;
  padding-top: 0;
}

