<section id="container" class="" data-ng-init="loadCurrntActiveClassForauthCtrlSidebarMenu('form_builder')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntPageTitle('Form Builder')">
    <div ng-include="'partials/includes/SuperAdminHeader.html'"></div>
    <!------------ End Header ---------------->

    <!-- start: Main Menu -->
    <aside>
        <!------------ Start Sidebar ---------------->
        <div ng-include="'partials/includes/SuperAdminSidebar.html'"></div>
        <!------------ End Sidebar ---------------->
    </aside>
    <!-- end: Main Menu -->

    <!-- start: Main Menu -->
    <!--aside>
      <div id="sidebar"  class="nav-collapse nav form-builder">
        <ul class="form-builder-sidebar-menu">
          <li class="active"> 
            <a class="" href="{{baseUrl}}">
              <span>Enquiry Form</span>
              <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
            </a>
          </li>
          <li class="active"> 
            <a class="" href="{{baseUrl}}">
              <span>Enquiry Form</span>
              <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </aside-->
    <!-- end: Main Menu -->
    
    <!--main content start-->
    <section id="main-content" ng-controller="DemoController">
        <section class="wrapper"> 
            <!--contaent are start-->
            <div class="row">
                <div class="col-md-9 col-lg-9">
                    <!--contaent are start-->
                    <div class="row">
                      <div class="col-md-9" style="margin-bottom: 80px;">

                          <div class="panel panel-default">
                              <div class="forms-default">
                                <h4 style="color: rgb(100, 152, 195);">Assessor Forms</h4>
                                <ul class="sub">
                                  <li ng-repeat="F in assessorFroms"> 
                                    <a ng-click="callForm(F.FormID)" href="javascript:;">
                                      <span>{{ F.FormName }}</span>
                                    </a>
                                  </li>
                                </ul>
                                <br><br>
                                <h4 style="color: rgb(100, 152, 195);">Care Worker Forms</h4>
                                <ul class="sub">
                                  <li ng-repeat="F in careworkerFroms"> 
                                    <a ng-click="callForm(F.FormID)" href="javascript:;">
                                      <span>{{ F.FormName }}</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>

                              <div id="fb-builder" fb-builder="default" style="display:none;"></div>
                                <!--div class="panel-footer">
                                  <div class="checkbox">
                                      <label><input type="checkbox" ng-model="isShowScope" />
                                          Show scope
                                      </label>
                                  </div>
                                  <pre ng-if="isShowScope">{{form}}</pre>
                              </div-->
                              <div id="isShowScope">{{form}}</div>
                              <div id="UTID" style="height: 0px; width: 0px; line-height: 0; visibility: hidden;"></div>
                          </div>
                          <div class="viewForm" style="display:none;">
                            <h2>New Document</h2>
                            <form class="form-horizontal">
                                <div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
                                <!--div class="form-group">
                                    <div class="col-md-8 col-md-offset-4">
                                        <input type="submit" ng-click="submit()" class="btn btn-default"/>
                                    </div>
                                </div-->
                            </form>
                            <div id="isShowValueScope" style="height: 0px; width: 0px; line-height: 0; visibility: hidden;">{{input}}</div>
                            <!--div class="checkbox">
                                <label><input type="checkbox" ng-model="isShowScope" ng-init="isShowScope=true" />
                                    Show scope
                                </label>
                            </div>
                            <pre ng-if="isShowScope">{{input}}</pre-->
                          </div>
                      </div>
                      <div class="col-md-3 position-fixed">
                      </div>
                    </div>

                  <div class="row">
                    <div class="form-group formBuilderActionBtn" style="display:none;">
                        <button class="btn button2" type="button" ng-click="saveForm()">SAVE FORM</button>
                        <button class="btn button2" type="submit" ng-click="viewForm()">VIEW FORM</button>
                        <button class="btn button2" type="reset" ng-click="cancelForm()">CANCEL</button>
                    </div>                    
                  </div>

                  <!--contaent are start-->
                </div>
                <div class="col-md-3 col-lg-3 fb-components-sidebar" ng-nicescroll nice-option="{cursorcolor: '#82ACD3'}"> 
                    <div class="fb-components-opration">  
                        <div class="opration">
                          <a ng-click="createDocument()">Create Document</a>
                          <a ng-click="editDocument()" class="disabled">Edit Document</a>
                          <a ng-click="duplicateDocument()" class="disabled">Duplicate Document</a>
                          <a ng-click="deleteDocument()" class="disabled">Delete Document</a>
                          <!--a id="showAllDocument" ng-click="showAllDocument()">Show All Forms</a-->
                        </div>
                    </div>
                    <div class="fb-components-section"> 
                      <h4 class="field-title text-center">ADD FIELD</h4>
                      <div fb-components></div>
                    </div>
                </div>
            </div>
        </section>
      <!--main content end-->
    </section>
  <!-- container section start -->
</section>

<div id="showModal">
  <div class="modal-bodys">
    <div class="modal-header">
        <h4>Select Staff</h4>
    </div>
    <div class="modal-body">
        <select name="UserTypeID" id="UserTypeID" class="droupdown1">
            <option value="4">
                Assessor
            </option>
            <option value="5">
                Care Worker
            </option>
        </select>
    </div>
    <div class="modal-footer">
      <button class="btn button2" ng-click="createDocumentOk()">Okay</button>
      <button class="btn button2" ng-click="cancel()">Cancel</button>
    </div>
  </div>
  <div class="modal-bodys-bg"></div>
</div>