<section id="container" class="" data-ng-init="loadCurrntActiveClassForauthCtrlSidebarMenu('license_plans')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntPageTitle('License Plans')">
    <div ng-include="'partials/includes/SuperAdminHeader.html'"></div>
    <!------------ End Header ---------------->

    <!-- start: Main Menu -->
    <aside>
        <!------------ Start Sidebar ---------------->
        <div ng-include="'partials/includes/SuperAdminSidebar.html'"></div>
        <!------------ End Sidebar ---------------->
    </aside>
    <!-- end: Main Menu -->
    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper"> 
            <div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <div class="panel-body">
                            <!--contaent are start-->
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <h3 class="page-header">License Plans</h3>
                                </div>
                            </div>
                            <div class="row margin-bottom20">
                                <div class="col-md-6 col-lg-6">
                                    <div id="button_float" style="float: left;">
                                        <label for="search">Items per page:</label>
                                        <input type="number" min="1" max="500" class="form-control" ng-model="pageSize">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6"> 
                                    <div id="button_float" style="float: right;">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label for="search">Search:</label>
                                                <input type="text" ng-model="search" class="form-control" placeholder="Search...">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--contaent are start-->
                            <table class="table table-bordered table-advance table-hover file_upload_table table_radius">
                                <thead>
                                    <tr >
                                      <th class="background_color_blue_left">Plan Name</th>
                                      <th class="background_color_blue">Quantity</th>
                                      <th class="background_color_blue">Price</th>
                                      <th class="background_color_blue">Status</th>
                                      <th class="background_color_blue_right"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="L in LicensePlans|orderBy:sortKey:reverse|filter:search|itemsPerPage:pageSize">
                                        <td>{{ L.PlanName }}</td>
                                        <td>{{ L.MaxQty }}</td>
                                        <td>{{ L.Price }}</td>
                                        <td>{{ L.Status }}</td>
                                        <td>
                                            <div class="btn-group">
                                              <!--a class="btn btn-primary view" ng-click="editPlan(L.PlanID)" title="Edit Plan"><i class="fa fa-pencil"></i></a-->
                                              <a class="btn btn-primary view" href="#/license_plan/edit/{{L.PlanID}}" title="Edit Plan"><i class="fa fa-pencil"></i></a>
                                              <a ng-if="L.StatusID === '1'" class="btn btn-success" ng-click="changeStatusPlan(L.PlanID,2)" title="Deactive Plan"><i class="fa fa-check"></i></a>
                                              <a ng-if="L.StatusID === '2'" class="btn btn-danger" ng-click="changeStatusPlan(L.PlanID,1)" title="Active Plan"><i class="fa fa-ban"></i></a>
                                              <!--a class="btn btn-danger" ng-click="deletePlan(L.PlanID)" title="Delete Plan"><i class="icon_close_alt2"></i></a-->
                                            </div>
                                        </td>
                                    </tr>                         
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="10"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            <!--contaent are start-->
                        </div>
                    </section>
                </div>
            </div>
        </section>
      <!--main content end-->
    </section>
  <!-- container section start -->
</section>
<!------------ Start Footer ---------------->
<!--div ng-include="'partials/includes/SuperAdminFooter.html'"></div-->
<!------------ End Footer ---------------->