<div class="contentLoader ng-scope" ng-show="loading" style="position: fixed; z-index: 9999; margin: 0px auto; width: 100%; text-align: center; height: 100%;">
    <img src="images/shows-loader.gif" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 0px 0px 5px 5px; padding: 10px 15px; position: relative; z-index: 9999;">
    <span style="position: absolute; width: 100%; height: 100%; left: 0px;">Loading...</span>
</div>
<title>Login | Smarter Care Plan</title>
<div class="login-bakg">
    <div class="row">
      <div class="col-md-12">
        <a href="{{baseUrl}}">
            <img src="images/Logo.png" class="logo1" style="max-width:100%;">
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7">
      </div>
      
      <div class="col-md-5">
        <div class="animate form login_form">
            <section class="login_content">
                <form name="loginForm" method="post" class="form-horizontal" role="form">
                    <div>
                        <input type="text" class="form-control" placeholder="User Name" name="username" ng-model="login.username" required focus/>
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="Password" ng-model="login.password" required/>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-default login-button" ng-click="doLogin(login)" data-ng-disabled="loginForm.$invalid">
                            LOGIN
                        </button>
                    </div>
                    <div class="clearfix"></div>

                    <p class="change_link">
                        <a href="#" class="white_color" data-toggle="modal" data-target="#myModal">Reset Password</a>            
                    </p>
                    <ul class="phone_nav">
                        <li class="phone_text">For Support Issues</li>
                        <li class="phone_no">0208 271 892</li>
                    </ul>
                </form>
            </section>
        </div>
      </div>
    </div>
</div>



<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content rest-password padding-bottom20">
        <div class="modal-header header-border">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        <br>

        </div>
        <div class="modal-body">
          <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
          
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                 <div class="col-md-2"></div>
                  <label for="cname" class="control-label col-md-8 ">
                  <input class="form-control rest-password-textfield usename" id="username" name="username"  type="text" placeholder="User Name">
                  </label>
                    <div class="col-md-2"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div id="button_float">
                            <button class="btn rest-button font-bold" type="submit">Reset Password</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>