<section id="container" class="" data-ng-init="loadCurrntActiveClassForauthCtrlSidebarMenu('create_care_orga')">
    <!------------ Start Header ---------------->
    <div ng-include="'partials/includes/SuperAdminHeader.html'"></div>
    <!------------ End Header ---------------->

    <!-- start: Main Menu -->
    <aside>
        <!------------ Start Sidebar ---------------->
        <div ng-include="'partials/includes/SuperAdminSidebar.html'"></div>
        <!------------ End Sidebar ---------------->
    </aside>
    <!-- end: Main Menu -->
    
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">   
            <!--contaent are start-->
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Update Care Organizer</h3>
                </div>
            </div>
            <section data-ng-init="editCareOrgload()">
            <div class="row">
                <div class="col-lg-6">
                    <form name="signupForm" class="form-horizontal" role="form" novalidate data-custom-submit="updateCareOrg(resultData)">
                        <div class="form-group required">
                            <label class="col-sm-5 control-label no-padding-right" for="email">Email</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="email" id="email" readonly class="form-control" placeholder="Email" email-available name="email" ng-model="resultData.EmailID" required/>
                                    <small class="errorMessage" ng-show="signupForm.email.$error.email" class="help-inline">Email is not valid</small> 
                                    <small class="infoMessage ng-scope" ng-show="checkExists">checking....</small>
                                    <small class="errorMessage" ng-if="signupForm.$error.emailExists">Email already exists in our database</small>
                                    <small class="errorMessage" ng-show="submitted && signupForm.email.$error.required">
                                        This field is required.
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-5 control-label no-padding-right" for="name">Name</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" name="name" class="form-control" placeholder="Name" ng-model="resultData.Name" required/>
                                    <small class="errorMessage" ng-show="submitted && signupForm.name.$error.required">
                                        This field is required.
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-5 control-label no-padding-right" for="username">User Name</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="User Name" readonly name="username" id="username" username-available ng-model="resultData.UserName" required ng-model-options="{ updateOn: 'blur' }"/>
                                    <small class="infoMessage ng-scope" ng-show="checkExists">checking....</small>
                                    <small class="errorMessage" ng-if="signupForm.$error.usernameExists">Username already exists in our database</small>
                                    <small class="errorMessage" ng-show="submitted && signupForm.username.$error.required">
                                        This field is required.
                                    </small>
                                </span>

                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-5 control-label no-padding-right" for="phone">Phone</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" ng-minlength="8" ng-maxlength="16" id="inputPhone" name="phone" placeholder="Phone" ng-model="resultData.ContactNo" numbers-only required>
                                    <small class="errorMessage" 
                                          ng-show="((signupForm.phone.$error.minlength ||
                                                   signupForm.phone.$error.maxlength) && 
                                                   signupForm.phone.$dirty) ">
                                                   Number should be enter between 8 to 16 digits
                                    </small>
                                    <small class="errorMessage" ng-show="submitted && signupForm.phone.$error.required">
                                        This field is required.
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="mobile">Land Line No</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" ng-minlength="8" ng-maxlength="16" id="inputMobile" name="mobile" placeholder="Land Line No" ng-model="resultData.ContactNo2" numbers-only>
                                    <small class="errorMessage" 
                                          ng-show="((signupForm.mobile.$error.minlength ||
                                                   signupForm.mobile.$error.maxlength) && 
                                                   signupForm.mobile.$dirty) ">
                                                   Number should be enter between 8 to 16 digits
                                    </small>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="address">Address</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <textarea class="form-control" placeholder="Address" ng-model="resultData.Address" /></textarea>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="FaxNo">FaxNo</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="text" class="form-control" placeholder="FaxNo" numbers-only name="FaxNo" ng-model="resultData.FaxNo"/>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="WebSite">WebSite</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <input type="url" class="form-control" placeholder="WebSite" name="WebSite" ng-model="resultData.WebSite"/>
                                </span>
                                <span class="exampleMessage" style="display: inline-block; width: 100%; font-size: 12px;">
                                    Ex. http://exapmle.com/
                                </span>
                                <small class="errorMessage" ng-show="signupForm.WebSite.$error.url" class="help-inline">Invalid url</small> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="OtherDetails">Other Details</label>
                            <div class="col-sm-7">
                                <span class="block input-icon input-icon-right">
                                    <textarea class="form-control" placeholder="Other Details" name="OtherDetails" ng-model="resultData.OtherDetails" /></textarea>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="Status">Status</label>
                            <div class="col-sm-7">
                                <select name="StatusID" id="StatusID" class="droupdown1">
                                    <option value="{{S.StatusID}}" ng-repeat="S in Status" ng-selected="{{S.StatusID === resultData.StatusID}}">
                                        {{S.StatusName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group required">
                            <label class="col-sm-5 control-label no-padding-right" for="Plans">License Plans</label>
                            <div class="col-sm-7">
                                <select name="PlanID" id="PlanID" class="droupdown1">
                                    <option value="{{P.PlanID}}" ng-repeat="P in Plans" ng-selected="{{P.PlanID === resultData.PlanID}}">
                                        {{P.PlanName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">
                                <button type="submit" class="button2" ng-click="submitted=true">
                                    Update
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!--contaent are end-->

        </section>
      <!--main content end-->
    </section>
  <!-- container section start -->
</section>
<!------------ Start Footer ---------------->
<!--div ng-include="'partials/includes/SuperAdminFooter.html'"></div-->
<!------------ End Footer ---------------->
