<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="MyRule"> 
                    <match url="^(.*)$" /> 
                    <conditions> 
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
                    </conditions> 
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" /> 
                </rule>
                <!--rule name="MyRule1"> 
                    <match url="^(.*)$" /> 
                    <conditions> 
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" /> 
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" /> 
                    </conditions> 
                    <action type="Rewrite" url="api/v1/api.php?rquest={C:1}" appendQueryString="false" /> 
                </rule-->
            </rules>
        </rewrite>
        <!--rewrite>
          <rules>
            <rule name="301Redirects" stopProcessing="true">
              <match url=".*" />
              <action type="Redirect" url="index.php?url={R:1}" appendQueryString="false" redirectType="Permanent" />
              <conditions>
                <add input="{301Redirects:{REQUEST_URI}}" pattern="(.+)" />
              </conditions>
            </rule>
            <rule name="302Redirects" stopProcessing="true">
              <match url=".*" />
              <action type="Redirect" url="api/v1/api.php?rquest={R:1}" appendQueryString="false" redirectType="Found" />
              <conditions>
                <add input="{302Redirects:{REQUEST_FILENAME}}" pattern="(.+)" />
              </conditions>
            </rule>
          </rules>
          <rewriteMaps>
            <rewriteMap name="301Redirects">
              <add key="/oldurl" value="/newurl" />
            </rewriteMap>
            <rewriteMap name="302Redirects">
              <add key="/oldcellphone" value="/newcellphones.aspx" />
            </rewriteMap>
          </rewriteMaps>
        </rewrite-->
    </system.webServer>
</configuration> 
