<title>Page Not Found</title>
<style type="text/css">
.error-template {padding: 15% 0 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
.button2:hover{color: #fff !important;}
</style>
<div class="login-bakg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 style="font-size: 60px; font-weight: bold;">
                        Oops!
                    </h1>
                    <h2>
                        404 Not Found
                    </h2>
                    <div class="error-details">
                        Sorry, an error has occured, Requested page not found!
                    </div>
                    <div class="error-actions">
                        <a href="{{baseUrl}}" class="btn button2"><i class="fa fa-home"></i>
                            Take Me Home </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>