			<!--sidebar start-->
      	
          	<div id="sidebar"  class="nav-collapse ">
              	<!-- sidebar menu start-->
				<!--ul class="sidebar-menu">                
					<li class="active">
					  <a class="" href="#/dashboard">
					      <i class="icon_house_alt"></i>
					      <span>Dashboard</span>
					  </a>
					</li>
					<li class="sub-menu">
					  	<a href="javascript:;" class="">
					      	<i class="fa fa-users"></i>
					      	<span>User Management</span>
					      	<span class="menu-arrow arrow_carrot-right"></span>
					  	</a>
					  	<ul class="sub">
					      	<li><a class="" href="#/care_orga">Care Organizers</a></li>
					      	<li><a class="" href="#/create_care_orga">Create Care Organizers</a></li>
					  	</ul>
					</li>
					<li class="sub-menu">
					  	<a href="javascript:;" class="">
					      	<i class="fa fa-certificate" aria-hidden="true"></i>
					      	<span>License Management</span>
					      	<span class="menu-arrow arrow_carrot-right"></span>
					  	</a>
					  	<ul class="sub">
					  		<li><a class="" href="#/licenses">Licenses</a></li>
					      	<li><a class="" href="#/license/create">Create License</a></li>
					      	<li><a class="" href="#/license_plans">License Plans</a></li>
					      	<li><a class="" href="#/license_plan/create">Create Plan</a></li>
					  	</ul>
					</li>
				</ul-->
				<ul class="sidebar-menu">
		            <li ng-class="activeClass == 'dashboard' ? 'active' : ''"> 
		            	<a class="" href="{{baseUrl}}">
					    	<span>Dashboard</span>
					  	</a>
		            </li>
		            <li ng-class="activeClass == 'care_orga' ? 'active' : ''"> 
		            	<a class="" href="careOrgs">
		            		<span>Care Organizers</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'create_care_orga' ? 'active' : ''"> 
		            	<a class="" href="careOrg/create">
		            		<span>Create Care Organizer</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'licenses' ? 'active' : ''"> 
		            	<a class="" href="licenses">
		            		<span>Licenses</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'create_license' ? 'active' : ''"> 
		            	<a class="" href="license/create">
		            		<span>Create License</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'license_plans' ? 'active' : ''"> 
		            	<a class="" href="license/plans">
		            		<span>License Plans</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'create_license_plan' ? 'active' : ''"> 
		            	<a class="" href="license/plan/create">
		            		<span>Create Plan</span>
		            	</a>
		            </li>
		        </ul>
              	<!-- sidebar menu end-->
          	</div>
		
		<!--sidebar end-->