			<!--sidebar start-->
      	
          	<div id="sidebar"  class="nav-collapse " ng-nicescroll nice-option="{
        cursorcolor: '#82ACD3'}">
				<ul class="sidebar-menu">
		            <li ng-class="activeClass == 'dashboard' ? 'active' : ''"> 
		            	<a class="" href="{{baseUrl}}">
					    	<span>Dashboard</span>
					  	</a>
		            </li>
		            <!--li ng-class="activeClass == 'setting' ? 'active' : ''"> 
		            	<a class="" href="setting">
					    	<span>Profile Setting</span>
					  	</a>
		            </li-->
		            <li ng-class="activeClass == 'care_orga' ? 'active' : ''"> 
		            	<a class="" href="careOrgs">
		            		<span>Care Organisers</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'create_care_orga' ? 'active' : ''"> 
		            	<a class="" href="careOrg/create">
		            		<span>Create Care Organiser</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'licenses' ? 'active' : ''"> 
		            	<a class="" href="licenses">
		            		<span>Licenses</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'create_license' ? 'active' : ''"> 
		            	<a class="" href="license/create">
		            		<span>Create License</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'license_plans' ? 'active' : ''"> 
		            	<a class="" href="license/plans">
		            		<span>License Plans</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'create_license_plan' ? 'active' : ''"> 
		            	<a class="" href="license/plan/create">
		            		<span>Create License Plan</span>
		            	</a>
		            </li>
		            <li ng-class="activeClass == 'form_builder' ? 'active sub-menu' : 'sub-menu'"> 
		            	<a class="" href="form-builder" ng-click="callAllForms()" data-ng-init="loadAllForms()">
		            		<span>Form Builder</span>
					      	<!--span class="menu-arrow-close"></span-->
		            	</a>
						<!--ul class="sub">
							<li ng-repeat="F in allForms"> 
							  <a ng-click="callForm(F.FormID)" href="javascript:;">
							    <span>{{ F.FormName }}</span>
							  </a>
							</li>
						</ul-->
		            </li>
		        </ul>
              	<!-- sidebar menu end-->
          	</div>
		
		<!--sidebar end-->