<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('dashboard')">
   <!------------ Start Header ---------------->
   <div ng-include="'partials/careOrg/includes/header.html'"></div>
   <!------------ End Header ---------------->
   <!--sidebar start-->
   <!------------ Start Header ---------------->
   <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
   <!------------ End Header ---------------->
   <!--sidebar end-->
   <!--main content start-->
   <div class="container">
      <section id="content">
         <section class="wrapper">
            <!-- Form validations -->
            
            
            
            <!-- page end-->
         </section>
      </section>
   </div>
</section>