<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('orgsettings')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('Checks Settings');loadCurrntSidebarPageTitle('GroupSetting');"></div>
    <div ng-include="'partials/careOrg/includes/header.html'"></div>
    <!------------ End Header ---------------->
    <!--sidebar start-->
    <!------------ Start Header ---------------->
    <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
    <!------------ End Header ---------------->
	<div ng-include="'partials/careOrg/includes/sidebar_settings.html'"></div>
    <!--sidebar end-->
    <!--main content start-->

    <div  id="main-content">
    <section id="content">
      <section class="wrapper">
        <!-- Form validations -->
        <section class="panel">
          <div class="panel-body">
            <div class="form">
			
			
			<div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <h3 class="page-header">Group Settings</h3>
                                </div>
								<div class="col-md-6 col-lg-6">
								<a href="organisation/group/create" class="btn add_equipments"> Add Group <i class="fa icon" aria-hidden="true"> <img src="img/Plus_icon.png"> </i> </a>
								</div>
                            </div>
			
			
			
			
               <table class="table table-bordered table-advance table-hover file_upload_table table_radius" data-ng-init="loadAllGroupSetting()">
                                <thead>
                                    <tr >
                                      <th class="background_color_blue_left">Group Name</th>
                                      <th class="background_color_blue">Status</th>
                                      <th class="background_color_blue_right"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
								    <tr ng-show="showAlert">
									  <td colspan="4" ng-bind="responsemsg" class="text-center"></td>
									</tr>
                                    <tr ng-repeat="G in allGroupSetting">
                                        <td>{{ G.GroupName }}</td>
                                        <td>{{ G.Status }}</td>
                                        <td>
                                            <div class="btn-group">
                                              <a class="btn btn-edit view" href="#/organisation/group/edit/{{G.GroupID}}" title="Edit Group"><i class="fa fa-pencil"></i></a>             
                                              <a ng-if="G.StatusID === '1'" class="btn btn-success" ng-click="changeStatusGroup(G.GroupID,2)" title="Deactive Group"><i class="fa fa-check"></i></a>
                                              <a ng-if="G.StatusID === '2'" class="btn btn-danger" ng-click="changeStatusGroup(G.GroupID,1)" title="Active Group"><i class="fa fa-ban"></i></a>
                                             
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="10"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
            </div>
          </div>
        </section>
        <!-- page end-->
      </section>
    </section>
  </div>
</section>

        