<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('orgsettings')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('Settings')"></div>
    <div ng-include="'partials/careOrg/includes/header.html'"></div>
    <!------------ End Header ---------------->
    <!--sidebar start-->
    <!------------ Start Header ---------------->
    <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
    <!------------ End Header ---------------->
    <!--sidebar end-->
    <!--main content start-->

    <div class="container">
        <section id="content">
            <section class="wrapper">
                <!-- Form validations -->
                <div class="row">

                    <section class="panel">
                        <div class="panel-body">

                            <div class="form">
                               
                                    <div class="row">
                                        <div class="col-md-12">
                    <section class="panel">
                        <div class="panel-body">
                            <!--contaent are start-->
                            <div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <h3 class="page-header">Settings</h3>
                                </div>
								<div class="col-md-6 col-lg-6">
								
								</div>
                            </div>
                            <div class="row margin-bottom20">
                               <div class="col-md-6 col-lg-6">
                                    <div id="button_float" style="float: left;">
                                       <!-- <label for="search">Items per page:</label>
                                        <input type="number" min="1" max="500" class="form-control" ng-model="pageSize">-->
										<div class="setting_label">Equipments Settings</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6"> 
                                    <div id="button_float" style="float: right;">
                                        <!--<form class="form-inline">
                                            <div class="form-group">
                                                <label for="search">Search:</label>
                                                <input type="text" ng-model="search" class="form-control" placeholder="Search...">
                                            </div>
                                        </form>-->
										<a href="organisation/settings/assign_equipments" class="btn add_equipments"> Assign Equipments <i class="fa icon" aria-hidden="true"> <img src="img/Plus_icon.png"> </i> </a>
                                    </div>
                                </div>
                            </div>
                            <!--contaent are start-->
                            <table class="table table-bordered table-advance table-hover file_upload_table table_radius" data-ng-init="loadAllEquipmentsSetting()">
                                <thead>
                                    <tr >
                                      <th class="background_color_blue_left">Staff Name</th>
									  <th class="background_color_blue">Equipment</th>
                                      <th class="background_color_blue">Status</th>
                                      <th class="background_color_blue_right"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
								    <tr ng-show="showAlert">
									  <td colspan="4" ng-bind="responsemsg" class="text-center"></td>
									</tr>
                                    <tr ng-repeat="E in allEquipments">
                                        <td>{{ E.Name }} {{ E.MiddleName }} {{ E.Surname }}</td>
										<td>{{ E.Equipment }}</td>
                                        <td>{{ E.Status }}</td>
                                        <td>
                                            <div class="btn-group">
                                              <a class="btn btn-edit view" href="#/organisation/equipmentSetting/edit/{{E.EquipmentsAssignID}}" title="Edit Equipment Setting"><i class="fa fa-pencil"></i></a>             
                                              <a ng-if="E.StatusID === '1'" class="btn btn-success" ng-click="changeStatusEquipmentStaff(E.EquipmentsAssignID,2)" title="Deactive Equipment Setting"><i class="fa fa-check"></i></a>
                                              <a ng-if="E.StatusID === '2'" class="btn btn-danger" ng-click="changeStatusEquipmentStaff(E.EquipmentsAssignID,1)" title="Active Equipment Setting"><i class="fa fa-ban"></i></a>
                                             
                                              <!--a class="btn btn-danger" ng-click="deleteCareOrg(U.UserID)" title="Delete Organization"><i class="fa fa-trash-o"></i></a-->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="10"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
                            <!--contaent are start-->
                        </div>
                    </section>
                </div>
                                    </div>

                                    
                                   
                                    
                                
                            </div>
                        </div>
                    </section>
                </div>
                <!-- page end-->
            </section>
        </section>
    </div>
</section>

        