<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('orgsettings')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('Settings');loadCurrntSidebarPageTitle('EqSetting');"></div>
    <div ng-include="'partials/careOrg/includes/header.html'"></div>
    <!------------ End Header ---------------->
    <!--sidebar start-->
    <!------------ Start Header ---------------->
    <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
    <!------------ End Header ---------------->
	<div ng-include="'partials/careOrg/includes/sidebar_settings.html'"></div>
    <!--sidebar end-->
    <!--main content start-->

    <div  id="main-content">
    <section id="content">
      <section class="wrapper">
        <!-- Form validations -->
        <section class="panel">
          <div class="panel-body">
            <div class="form">
			
			
			<div class="row">
                                <div class="col-md-6 col-lg-6">
                                    <h3 class="page-header">Equipments Settings</h3>
                                </div>
								<div class="col-md-6 col-lg-6">
								<a href="organisation/equipments/create" class="btn add_equipments"> Add Equipment <i class="fa icon" aria-hidden="true"> <img src="img/Plus_icon.png"> </i> </a>
								</div>
                            </div>
			
			
			
			
               <table class="table table-bordered table-advance table-hover file_upload_table table_radius" data-ng-init="loadAllEquipments()">
                                <thead>
                                    <tr >
                                      <th class="background_color_blue_left">Equipments</th>
									  <th class="background_color_blue">Description</th>
                                      <th class="background_color_blue">Status</th>
                                      <th class="background_color_blue_right"> Action</th>
                                    </tr>
                                </thead>
                                <tbody>
								    <tr ng-show="showAlert">
									  <td colspan="4" ng-bind="responsemsg" class="text-center"></td>
									</tr>
                                    <tr ng-repeat="E in allEquipments">
                                        <td>{{ E.Equipment }}</td>
										<td>{{ E.Description }}</td>
                                        <td>{{ E.Status }}</td>
                                        <td>
                                            <div class="btn-group">
                                              <a class="btn btn-edit view" href="#/organisation/equipments/edit/{{E.EquipmentID}}" title="Edit Equipment"><i class="fa fa-pencil"></i></a>             
                                              <a ng-if="E.StatusID === '1'" class="btn btn-success" ng-click="changeStatusEquipment(E.EquipmentID,2)" title="Deactive Equipment"><i class="fa fa-check"></i></a>
                                              <a ng-if="E.StatusID === '2'" class="btn btn-danger" ng-click="changeStatusEquipment(E.EquipmentID,1)" title="Active Equipment"><i class="fa fa-ban"></i></a>
                                             
                                              <!--a class="btn btn-danger" ng-click="deleteCareOrg(U.UserID)" title="Delete Organization"><i class="fa fa-trash-o"></i></a-->
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                max-size="10"
                                direction-links="true"
                                boundary-links="true" >
                            </dir-pagination-controls>
            </div>
          </div>
        </section>
        <!-- page end-->
      </section>
    </section>
  </div>
</section>

        