<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('carers')">
    <!------------ Start Header ---------------->
    <div class="title" data-ng-init="loadCurrntOrgPageTitle('Add Staff')"></div>
    <div ng-include="'partials/careOrg/includes/header.html'"></div>
    <!------------ End Header ---------------->
    <!--sidebar start-->
    <!------------ Start Header ---------------->
    <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
    <!------------ End Header ---------------->
    <!--sidebar end-->
    <!--main content start-->

    <div class="container">
        <section id="content">
            <section class="wrapper">
                <!-- Form validations -->
                <div class="row">

                    <section class="panel">
                        <div class="panel-body">

                            <div class="form">
                                <form class="form-validate form-horizontal" id="addStaffForm" method="post" name="addStaffForm" novalidate data-custom-submit="sendRequest(signup, 'organisation/carers/create')">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3 class="page-header">Enter Employee Details</h3>
                                            <div class="form-group required">
                                                <label for="cname" class="control-label col-md-4">Staff Role </label>
                                                <div class="col-md-8">
                                                    <select name="role" class="droupdown1" ng-model="signup.role">
                                                        <option value="3">Frontend User</option>
                                                        <option value="4">Supervisor</option>
                                                        <option value="5">Care Worker</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="cname" class="control-label col-md-4">Title </label>
                                                <div class="col-md-8">
                                                    <select name="title" class="droupdown1" ng-model="signup.title">
                                                        <option value="Mr">Mr.</option>
                                                        <option value="Mrs">Mrs.</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="FirstName" class="control-label col-md-4">First Name </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="FirstName" name="FirstName" required placeholder="First Name" ng-model="signup.FirstName" type="text">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.FirstName.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="Surname" class="control-label col-md-4">Surname </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="Surname" name="Surname" placeholder="Surname" ng-model="signup.Surname" required type="text">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.Surname.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="MiddleName" class="control-label col-md-4">Middle Name </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="MiddleName" ng-model="signup.MiddleName" name="MiddleName" placeholder="Middle Name" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="cemail" class="control-label col-md-4 col-lg-4 col-xs-2">D.O.B. </label>
                                                <div class="col-md-8 col-lg-8 col-xs-12">

                                                    <div class="input-group">
                                                        <input type="date" ng-model="signup.DateOfBirth" readonly datepicker-popup="dd-MM-yyyy" class="form-control" placeholder="DD-MM-YYYY" min-date="mindate" name="DateOfBirth" is-open="Opened" ng-click="Opened=true" required/>
                                                        <span class="input-group-btn">
                                                          <button ng-click="Opened=true;$event.stopPropagation();" class="btn calender-btn" type="button"> <i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                        </span>
                                                    </div>
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.DateOfBirth.$error.required"> This field is required. </small>
                                                </div>


                                            </div>
                                            <div class="form-group required">
                                                <label for="cname" class="control-label col-md-4">Gender </label>
                                                <div class="col-md-8">
                                                    <div class="gender ">

                                                        <div class="maxl">
                                                            <label class="radio3 inline3">
                                                                <input type="radio" name="gender" value="Male" ng-model="signup.gender">
                                                                <span>Male </span>
                                                            </label>
                                                            <label class="radio3 inline3">
                                                                &nbsp;    &nbsp; 
                                                            <input type="radio" name="gender" value="Female" ng-model="signup.gender">
                                                                <span>Female </span>
                                                            </label>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="Ethnicity" class="control-label col-md-4">Ethnicity </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="Ethnicity" name="Ethnicity" placeholder="Ethnicity" ng-model="signup.Ethnicity" required type="text">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.Ethnicity.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <h3 class="page-header">Enter Employee Contact Details</h3>
                                            <div class="form-group required">
                                                <label for="HouseNumber" class="control-label col-md-4">House Number </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="HouseNumber" ng-model="signup.HouseNumber" placeholder="House Number" required name="HouseNumber" type="text">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.HouseNumber.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="Address1" class="control-label col-md-4">Address 1 </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="Address1" placeholder="Address 1" ng-model="signup.Address1" required name="Address1" type="text">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.Address1.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="Address2" class="control-label col-md-4">Address 2 </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="Address2" placeholder="Address 2" name="Address2" ng-model="signup.Address2" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="City" class="control-label col-md-4">City </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="City" name="City" placeholder="City" ng-model="signup.City" required type="text">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.City.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="cname" class="control-label col-md-4">Country </label>
                                                <div class="col-md-8">
                                                    <select name="Country" data-ng-init="loadAllCountry()" class="droupdown1" ng-model="signup.Country">
                                                        <option value="{{C.id}}" ng-repeat="C in allCountry">
                                                            {{C.country}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="cname" class="control-label col-md-4 col-xs-4">Post Code </label>

                                                <div class="col-sm-7">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" style="text-transform:uppercase" validate-postcode move-focus tabindex="1" maxlength="4" id="postcode1" class="form-control postcode" name="postcode1" ng-model="signup.postcode1" required/>
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <span class="block input-icon input-icon-right">
                                                                <input type="text" style="text-transform:uppercase" validate-postcode move-focus tabindex="2" maxlength="4" id="postcode2" class="form-control postcode" name="postcode2" ng-model="signup.postcode2" required/>
                                                            </span>
                                                        </div> 
                                                        <!--div class="col-sm-4">
                                                            <span class="exampleMessage" style="display: inline-block; width: 100%; font-size: 12px; line-height: 2.8;">
                                                                ex: AA9A 9AA
                                                            </span>
                                                        </div-->
                                                    </div>                                
                                                    <small class="errorMessage" ng-show="(submitted && addStaffForm.postcode1.$error.required) || (submitted && addStaffForm.postcode2.$error.required)">
                                                        This field is required.
                                                    </small>
                                                    <!--small class="errorMessage" data-ng-show="(signupForm.postcode1.$dirty && signupForm.postcode1.$error.postcode && !signupForm.postcode1.$error.required) && (signupForm.postcode2.$dirty && signupForm.postcode2.$error.postcode && !signupForm.postcode2.$error.required)">
                                                        <!--small class="errorMessage" ng-show="signupForm.PostCode.$error.postcode"--->
                                                        
                                                    </small-->
                                                </div>

                                            </div>
                                            <div class="form-group required">
                                                <label for="Mobile" class="control-label col-md-4">Mobile No.</label>
                                                <div class="col-md-8">
                                                    <input class="form-control " id="Mobile" type="text" placeholder="Mobile No." ng-model="signup.Mobile" ng-minlength="8" ng-maxlength="16" numbers-only required name="Mobile" />
                                                    <small class="errorMessage" 
                                                          ng-show="((addStaffForm.Mobile.$error.minlength ||
                                                                   addStaffForm.Mobile.$error.maxlength) && 
                                                                   addStaffForm.Mobile.$dirty) ">
                                                                   Number should be enter between 8 to 16 digits
                                                    </small>
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.Mobile.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-8">
                                            <div class="input-group margin-top50">
                                                <div class="photo_preview"> 
                                                    <img ng-src="{{resultData.ProfilePhoto}}" id='img-upload'>
                                                </div>
                                                <div class="user_upload">
                                                    <a href="javascript:;">
                                                        Upload Image
                                                        <img src="img/Upload_Icon.png"> 
                                                        <input type="file" accept=".png, .jpg, .jpeg" onchange="angular.element(this).scope().profilePhotoChanged(this.files)" ng-model="resultData.ProfilePhoto" name="ProfilePhoto" id="imgInp">
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row margin-top20">
                                        <div class="col-md-5">
                                            <h3 class="page-header">Enter Employee Emergency Contact Details</h3>
                                            <div class="form-group required">
                                                <label for="NOKName" class="control-label col-md-4">NOK Name </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="NOKName" placeholder="NOK Name" ng-model="signup.NOKName" name="NOKName" required type="text">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.NOKName.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="NOKMobile" class="control-label col-md-4">NOK Mobile </label>
                                                <div class="col-md-8">
                                                    <input class="form-control " id="NOKMobile" ng-model="signup.NOKMobile" placeholder="NOK Mobile" ng-minlength="8" ng-maxlength="16" numbers-only required name="NOKMobile" type="text">
                                                    <small class="errorMessage" 
                                                          ng-show="((addStaffForm.NOKMobile.$error.minlength ||
                                                                   addStaffForm.NOKMobile.$error.maxlength) && 
                                                                   addStaffForm.NOKMobile.$dirty) ">
                                                                   Number should be enter between 8 to 16 digits
                                                    </small>
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.NOKMobile.$error.required"> This field is required. </small>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="NOKEmail" class="control-label col-md-4">NOK Email </label>
                                                <div class="col-md-8">
                                                    <input type="email" id="NOKEmail"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" placeholder="NOK Email" email-available name="NOKEmail" ng-model="signup.NOKEmail" required/>
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.NOKEmail.$error.required">
                                                        This field is required.
                                                    </small>
                                                    <small class="errorMessage" ng-show="addStaffForm.NOKEmail.$error.pattern" class="help-inline">Email is not valid</small> 
                                                    <small class="infoMessage ng-scope" ng-show="checkExists" style="display: inline-block; width: 100%; font-size: 12px;">checking....</small>
                                                    <small class="errorMessage" ng-if="addStaffForm.$error.emailExists">Email already exists in our database</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <h3 class="page-header">Login Details</h3>
                                            <div class="form-group required">
                                                <label for="UserName" class="control-label col-md-4">User Name </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" placeholder="User Name" id="UserName" name="UserName" username-availableorg  ng-model="signup.UserName" required ng-model-options="{ updateOn: 'blur' }"/>
                                                    <small class="infoMessage ng-scope" ng-show="checkExists" style="display: inline-block; width: 100%; font-size: 12px;">checking....</small>
                                                    <small class="errorMessage" ng-if="addStaffForm.$error.usernameExists">Username already exists in our database</small>
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.UserName.$error.required">
                                                        This field is required.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="Password" class="control-label col-md-4">Password </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="Password" ng-model="signup.Password" placeholder="Password" name="Password" required type="password">
                                                    <small class="errorMessage" ng-show="submitted && addStaffForm.Password.$error.required">
                                                        This field is required.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="form-group ">
                                                <label for="cname" class="control-label col-md-4  col-xs-12">Status</label>
                                                <div class="col-md-2 col-xs-5">
                                                    <button type="button" class="btn btn-danger-deactive">Offline</button>
                                                </div>

                                                <div class="col-md-6 col-xs-7">
                                                    <button type="button" class="btn btn-danger button_float">Deactivate</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="id" id="requestID" value="15" ng-model="signup.id"/>
                                    <div class="row margin-top30">
                                        <div class="col-md-4 col-md-offset-7">
                                            <div id="button_float">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-6 col-lg-6 col-xs-6">
                                                            <button ng-click="submitted=true" class="btn button2" type="submit">SAVE</button>
                                                        </div>
                                                        <div class="col-md-6 col-lg-6 col-xs-6">
                                                            <button class="btn button2" type="button">CANCEL</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- page end-->
            </section>
        </section>
    </div>
</section>

        