<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('carers')">
  <!------------ Start Header ---------------->
  
  <div class="title" data-ng-init="loadCurrntOrgPageTitle('Checks');loadCurrntSidebarPageTitle('checks');"></div>
  <div ng-include="'partials/careOrg/includes/header.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar start-->
  <!------------ Start Header ---------------->
  <div ng-include="'partials/careOrg/includes/sidebar_staff.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar end-->
  <!--main content start-->
  <div  id="main-content">
    <section id="content">
      <section class="wrapper">
        <!-- Form validations -->
        <section class="panel">
          <div class="panel-body">
            <div class="form">
			<h3 class="page-header">{{signup.Name | capitalize}}'s Checks</h3>
              <form name="signupForm" class="form-horizontal" role="form" novalidate data-custom-submit="assignChecksStaff(signup,'organisation/settings/')">
                        <div class="form-group required">
                            
                            <div class="col-sm-6">
                                <span class="block input-icon input-icon-right" data-ng-init="loadChecksStaff();" >
								<div ng-repeat="C in EquipmentsStaff">
								<label class="control control--checkbox">{{C.Checks}}
								<input type="checkbox" name="ChecksID[]" value="{{C.ChecksID}}"  ng-checked="{{C.sel}}" /><div class="control__indicator"></div>
								</label>
								</div>
                                   <small class="errorMessage" ng-show="showValidation"> Please select at least one checks. </small>
                                </span>
                            </div>
                        </div>
						<div class="form-group">
							<div class="col-sm-6">
							<button type="submit" class="btn button2" ng-click="submitted=true">
										ASSIGN
									</button>
									&nbsp;&nbsp;&nbsp;&nbsp;
									<a href="#/organisation/carers/" class="btn button2">CANCEL</a>
							</div>		
						</div>
                        
                    </form>
            </div>
          </div>
        </section>
        <!-- page end-->
      </section>
    </section>
  </div>
</section>
