<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('carers')">
  <!------------ Start Header ---------------->
  
  <div class="title" data-ng-init="loadCurrntOrgPageTitle('Edit Staff');loadCurrntSidebarPageTitle('equipments');"></div>
  <div ng-include="'partials/careOrg/includes/header.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar start-->
  <!------------ Start Header ---------------->
  <div ng-include="'partials/careOrg/includes/sidebar_staff.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar end-->
  <!--main content start-->
  <div  id="main-content">
    <section id="content">
      <section class="wrapper">
        <!-- Form validations -->
        <section class="panel">
          <div class="panel-body">
            <div class="form">
			<h3 class="page-header">Equipments</h3>
              <form name="signupForm" class="form-horizontal" role="form" novalidate data-custom-submit="assignEquipmentsStaff(signup,'organisation/settings/')">
                        <div class="form-group required">
                            <label class="col-sm-3 control-label no-padding-right" for="name">Staff Equipments </label>
                            <div class="col-sm-4">
                                <span class="block input-icon input-icon-right" data-ng-init="loadEquipmentsStaff();" >
								<div ng-repeat="E in EquipmentsStaff">
								<input type="checkbox" name="EquipmentID[]" value="{{E.EquipmentID}}"  ng-checked="{{E.sel}}" />&nbsp;&nbsp;{{E.Equipment}}
								</div>
                                   <small class="errorMessage" ng-show="showValidation"> Please select at least one equipment. </small>
                                </span>
                            </div>
                        </div>
						
                        <div class="form-group">
                            <span class="lbl col-sm-3"> </span>
                            <div class="col-sm-4">
                                <button type="submit" class="btn button2" ng-click="submitted=true">
                                    ASSIGN
                                </button>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<a href="#/organisation/carers/" class="btn button2">CANCEL</a>
                            </div>
                        </div>
                    </form>
            </div>
          </div>
        </section>
        <!-- page end-->
      </section>
    </section>
  </div>
</section>
