<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('carers')">
  <!------------ Start Header ---------------->
  <div class="title" data-ng-init="loadCurrntOrgPageTitle('Staff')"></div>
  <div ng-include="'partials/careOrg/includes/header.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar start-->
  <!------------ Start Header ---------------->
  <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
  <!------------ End Header ---------------->
  <!--sidebar end-->
  <!--main content start-->
  <!-- container section start -->
  <section id="container" class="">  
    <!--main content start-->
    <!---seach-->
    <section id="content">
      <!--main content start-->
      <!--seach-->
      <section class="bg_color1">
        <section class="wrapper">
          <div class="row">
            <div  class="col-md-6 col-lg-6 col-xs-12">
              <div class="form">
                <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                  <div class="form-group-col_paading0">
                    <div class="gender ">
                       <label class="radio2 inline2">
                      <input type="radio" name="search" value="fname" checked ng-click="searchUniversalParam('Name')">
                      <span> First Name </span> </label>
    				 
    				  
                      <label class="radio2 inline2">
                      <input type="radio" name="search" value="lname" ng-click="searchUniversalParam('Surname')">
                      <span>Surname</span> </label>
                      <label class="radio2 inline2">
                      <input type="radio" name="search" value="dob" ng-click="searchUniversalParam('DateOfBirth')">
                      <span>D.O.B</span> </label>
                      <label class="radio2 inline2">
                      <input type="radio" name="search" value="address" ng-click="searchUniversalParam('address')">
                      <span>Address</span> </label>
                      <div class="clearfix"></div>
                      <div class="searching">
                        <div class="col-md-7 col-sm-7 col-xs-4 col_paading0">
                          <input  placeholder="Search" type="text" ng-keyup="searchStaff('search')" id="searchTxt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xs-4 col_paading0">
                          <select name="employee">
                            <option>Current Employee</option>
                            <option>Latest Employee</option>
                          </select>
                          .</div>
                        <div class="col-md-2 col-lg-2 col-xs-1 col_paading0">
                          <button><img src="img/Search Icon.png"  ></button>
                        </div>
                      </div>
                      <label > </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 col-xs-12 col-lg-6">
              <a href="organisation/carers/create" class="add_employee">
                Add Employee 
                <i class="fa icon" aria-hidden="true">
                  <img src="img/Plus_icon.png">
                </i>
              </a>
            </div>
          </div>
        </section>
      </section>
      <!--client-->
      <div class="row">
        <div class="col-md-5 col-lg-6 col-xs-0 col-sm-4"></div>
        <div class="col-md-7  col-lg-6 col-xs-12 col-sm-8">
          <div class="alfa-pagination">
            <ul>
			   <li><a href="javascript:void(0);" class="active" ng-click="sendReqAlpha('A')">A</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('B')">B</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('C')">C</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('D')">D</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('E')">E</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('F')">F</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('G')">G</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('H')">H</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('I')">I</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('J')">J</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('K')">K</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('l')">l</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('m')">m</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('n')">n</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('o')">o</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('p')">p</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('q')">q</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('r')">r</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('s')">s</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('t')">t</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('u')">u</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('v')">v</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('w')">w</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('x')">x</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('y')">y</a></li>
              <li><a href="javascript:void(0);"  ng-click="sendReqAlpha('z')">z</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      
	  
	  

	  
	  
      <div class="row">
        <div class="wrapper top0" data-ng-init="loadAllStaff()">
		
		  <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 " ng-repeat="S in allStaff">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="{{S.ProfilePhoto}}"></div>
              </div>
              <div class="col-md-8 col-xs-8">
			    <!--<p>{{$index+1}}</p>-->
                <h2>{{S.Title}} {{S.Name}} {{S.Surname}}</h2>
                <p>{{S.Address1}}</p>
                <p>{{S.Mobile}}</p>
				
				<div data-ng-if="S.StatusID !== '2'">
        <span class="active_employee">Active</span>
    </div>
	
	<div data-ng-if="S.StatusID !== '1'">
        <span class="inactive_employee">Inactive</span>
    </div>
				
				
                
                <p class="small1">last logged in {{ S.ModifyDateTime }}</p>
              </div>
            </div>
          </div>
		
		
          <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
            
          <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="inactive_employee">Inactive</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                 <span class="inactive_employee">Inactive</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                  <span class="inactive_employee">Inactive</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                  <span class="inactive_employee">Inactive</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
    	  
    	  <!--<div class="col-md-3 col-xs-12 col-lg-3 col-sm-4 ">
            <div class="employee">
              <div class="col-md-4 col-xs-4 col_margin">
                <div class="emimage"><img src="img/employee.jpg"></div>
              </div>
              <div class="col-md-8 col-xs-8">
                <h2>Mr. Marchin</h2>
                <p>15, Television road Menchester M13 4TY </p>
                <p>0161 900 1234</p>
                <span class="active_employee">Active</span>
                <p class="small1">last logged in 12 Jan 11:30 pm</p>
              </div>
            </div>
          </div>-->
          
          
          
          
          
          
          
          
          
        </div>
      </div>
    </section>
  </section>
</section>