<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('clients')">
  <!------------ Start Header ---------------->
  <div class="title" data-ng-init="loadCurrntOrgPageTitle('Clients')"></div>
  <div ng-include="'partials/careOrg/includes/header.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar start-->
  <!------------ Start Header ---------------->
  <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
  <!------------ End Header ---------------->
  <!--sidebar end-->
  <!--main content start-->
  <!-- container section start -->
  <section id="container" class="">  
    <!--main content start-->
    <!---seach-->
    <section id="content">
      <section class="bg_color1">
        <section class="wrapper">
          <div class="row">
            <div  class="col-md-6">
              <div class="form">
                <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                  <div class="form-group-col_paading1">
                    <div class="gender ">
                      <label class="radio2 inline2">
                      <input type="radio" name="sex" value="male" checked>
                      <span> First Name </span> </label>
                      <label class="radio2 inline2">
                      <input type="radio" name="sex" value="female">
                      <span>Surname</span> </label>
                      <label class="radio2 inline2">
                      <input type="radio" name="sex" value="female">
                      <span>D.O.B</span> </label>
                      <label class="radio2 inline2">
                      <input type="radio" name="sex" value="female">
                      <span>Address</span> </label>
                      <div class="clearfix"></div>
                      <div class="searching">
                        <div class="col-md-10 col_paading1">
                          <input  placeholder="Search" type="text">
                        </div>
                        <div class="col-md-2 col_paading2">
                          <button><img src="img/Search Icon.png" ></button>
                        </div>
                      </div>
                      <label > </label>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6"><a href="organisation/client/create" class="add_employee">Add Client <i class="fa icon" aria-hidden="true"><img src="img/Plus_icon.png"></i></a></div>
          </div>
        </section>
      </section>
      <!---client-->
	  
	  
      
    </section>

  </section>
  <!-- container section end -->
</section>