<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('clients')">
   <!------------ Start Header ---------------->
   <div ng-include="'partials/careOrg/includes/header.html'"></div>
   <!------------ End Header ---------------->
   <!--sidebar start-->
   <!------------ Start Header ---------------->
   <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
   <!------------ End Header ---------------->
   <!--sidebar end-->
   <!--main content start-->
<!-- container section start -->
<section id="container" class="">  
  <!--main content start-->
  <!---seach-->
  <section id="content">
    <section class="bg_color1">
      <section class="wrapper">
        <div class="row">
          <div  class="col-md-6">
            <div class="form">
              <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                <div class="form-group-col_paading1">
                  <div class="gender ">
                    <label class="radio2 inline2">
                    <input type="radio" name="sex" value="male" checked>
                    <span> First Name </span> </label>
                    <label class="radio2 inline2">
                    <input type="radio" name="sex" value="female">
                    <span>Surname</span> </label>
                    <label class="radio2 inline2">
                    <input type="radio" name="sex" value="female">
                    <span>D.O.B</span> </label>
                    <label class="radio2 inline2">
                    <input type="radio" name="sex" value="female">
                    <span>Address</span> </label>
                    <div class="clearfix"></div>
                    <div class="searching">
                      <div class="col-md-7 col_paading1">
                        <input  placeholder="Search" type="text">
                      </div>
                      <div class="col-md-3 col_paading2">
                        <select name="employee">
                          <option>Current Employee</option>
                          <option>Latest Employee</option>
                        </select>
                        .</div>
                      <div class="col-md-2 col_paading2">
                        <button><img src="img/Search Icon.png" ></button>
                      </div>
                    </div>
                    <label > </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6"><a href="#/organization/client/create" class="add_employee">Add Employee <i class="fa icon" aria-hidden="true"><img src="img/Plus_icon.png"></i></a></div>
        </div>
      </section>
    </section>
    <!---client-->
    <div class="row">
      <div class="col-md-7"></div>
      <div class="col-md-5">
        <div class="pagination">
          <ul>
            <li><a href="#" class="active">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
           
            <li><a href="#">F</a></li>
            <li><a href="#">G</a></li>
            <li><a href="#">H</a></li>
            <li><a href="#">I</a></li>
            <li><a href="#">J</a></li>
            <li><a href="#">K</a></li>
            <li><a href="#">l</a></li>
            <li><a href="#">m</a></li>
            <li><a href="#">n</a></li>
            <li><a href="#">o</a></li>
            <li><a href="#">p</a></li>
            <li><a href="#">q</a></li>
            <li><a href="#">r</a></li>
            <li><a href="#">s</a></li>
            <li><a href="#">t</a></li>
            <li><a href="#">u</a></li>
            <li><a href="#">v</a></li>
            <li><a href="#">w</a></li>
            <li><a href="#">x</a></li>
            <li><a href="#">y</a></li>
            <li><a href="#">z</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    
    <div class="row">
      <div class="wrapper top0">
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="inactive_employee">Inactive</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="inactive_employee">Inactive</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="inactive_employee">Inactive</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage "><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="inactive_employee">Inactive</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="employee">
            <div class="col-md-4 col_margin">
              <div class="emimage"><img src="img/employee.jpg"></div>
            </div>
            <div class="col-md-8">
              <h2>Mr. Marchin</h2>
              <p>15, Television road Menchester M13 4TY </p>
              <p>0161 900 1234</p>
              <span class="active_employee">Active</span>
              <p class="small1">last logged in 12 Jan 11:30 pm</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</section>
<!-- container section end -->

