<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('clients')">
  <!------------ Start Header ---------------->
  <div class="title" data-ng-init="loadCurrntOrgPageTitle('Clients')"></div>
  <div ng-include="'partials/careOrg/includes/header.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar start-->
  <!------------ Start Header ---------------->
  <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
  <!------------ End Header ---------------->
  <!--sidebar end-->
  <!--main content start-->
  <!-- container section start -->
  <section id="container" class="">  
    <!--main content start-->
    <!---seach-->
    <section id="content">
      <section class="bg_color1">
            <section class="wrapper padding-bottom10">
               <div class="row">
                  <div  class="col-md-6 col-lg-6 col-xs-12">
                     <div class="form">
                        <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
                           <div class="form-group-col_paading0">
                              <div class="gender ">
                                 <label class="radio2 inline2">
                                 <input type="radio" name="sex" value="male" checked>
                                 <span> First Name </span> </label>
                                 <label class="radio2 inline2">
                                 <input type="radio" name="sex" value="female">
                                 <span>Surname</span> </label>
                                 <label class="radio2 inline2">
                                 <input type="radio" name="sex" value="female">
                                 <span>D.O.B</span> </label>
                                 <label class="radio2 inline2">
                                 <input type="radio" name="sex" value="female">
                                 <span>Address</span> </label>
                                 <div class="clearfix"></div>
                                 <div class="searching">
                                    <div class="col-md-10 col-sm-10 col-xs-10 col_paading0">
                                       <input  placeholder="Search" type="text">
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xs-1 col_paading0">
                                       <button><img src="img/Search Icon.png"  ></button>
                                    </div>
                                 </div>
                                 <label > </label>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="col-md-6 col-xs-12 col-lg-6">
                     <a class=" btn add_employee " href="organisation/client/create">Add Client <i class="fa  padding-left10" aria-hidden="true"><img src="img/Plus_icon.png"></i> </a>
                  </div>
               </div>
            </section>
         </section>
         <!--client-->
         <div class="row">
            <div class="col-md-6 col-lg-6 margin-top10 margin-bottom20 padding-left30 font-bold font-size15"><span class="font-color-blue">120</span> Registered services user,  <span class="font-color-blue">15</span> Assesments in progress, <span class="font-color-blue">5</span> Services user in hospital</div>
            <div class="col-md-6  col-lg-6 margin-top10 margin-bottom20">
               <div class="alfa-pagination pull-right margin-right10">
                  <ul>
                     <li><a href="#" class="active">A</a></li>
                     <li><a href="#">B</a></li>
                     <li><a href="#">C</a></li>
                     <li><a href="#">D</a></li>
                     <li><a href="#">E</a></li>
                     <li><a href="#">F</a></li>
                     <li><a href="#">G</a></li>
                     <li><a href="#">H</a></li>
                     <li><a href="#">I</a></li>
                     <li><a href="#">J</a></li>
                     <li><a href="#">K</a></li>
                     <li><a href="#">l</a></li>
                     <li><a href="#">m</a></li>
                     <li><a href="#">n</a></li>
                     <li><a href="#">o</a></li>
                     <li><a href="#">p</a></li>
                     <li><a href="#">q</a></li>
                     <li><a href="#">r</a></li>
                     <li><a href="#">s</a></li>
                     <li><a href="#">t</a></li>
                     <li><a href="#">u</a></li>
                     <li><a href="#">v</a></li>
                     <li><a href="#">w</a></li>
                     <li><a href="#">x</a></li>
                     <li><a href="#">y</a></li>
                     <li><a href="#">z</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="clearfix"></div>
	       <div class="row">
            <div class="wrapper top0">
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn hospitalized">Hospitalized</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn hospitalized">Hospitalized</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn archieved">Archived</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn archieved">Archived</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
               <div class="col-md-3 col-xs-12 col-lg-3 col-sm-4  col-sm-4 ">
                  <div class="clients">
                     <div class="col-md-4 col-lg-4 col-xs-3 col_margin">
                        <div class="climage"><img src="img/employee.jpg"></div>
                     </div>
                     <div class="col-md-8 col-lg-8 col-xs-8">
                        <h2>Mr. Marchin</h2>
                        <p class="margin-bottom0">15, Television road Menchester M13 4TY </p>
                        <p class="margin-bottom0">0161 900 1234</p>
                        <p class="margin-bottom0">Sample123@gmail.com</p>
                        <button class="btn active_employee">Active</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    </section>
  </section>
  <!-- container section end -->
</section>