<!-- container section start -->
<section id="container" class="" data-ng-init="loadMainMenuCurrntActiveClass('registration')">
  <!------------ Start Header ---------------->
  <div class="title" data-ng-init="loadCurrntOrgPageTitle('Registration')">
  <div ng-include="'partials/careOrg/includes/header.html'"></div>
  <!------------ End Header ---------------->
  <!--sidebar start-->
  <!------------ Start Header ---------------->
  <!--div ng-include="'partials/careOrg/includes/sidebar.html'"></div-->
  <!------------ End Header ---------------->
  <!--sidebar end-->
  <!--main content start-->
  <!-- container section start -->
  
  <div class="container">
    <section id="content">
      <section class="wrapper">
        <!-- Form validations -->
        <section class="panel">
          <div class="panel-body">
            <h3 class="page-header">Complete Registration Form </h3>
            <div class="form">
              <form class="form-validate form-horizontal" id="feedback_form" novalidate name="enqueryForm" data-custom-submit="sendRequest(signup, 'organization/client/registration')">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group required">
                      <label for="title" class="control-label col-md-4">Title </label>
                      <div class="col-md-8">
                        <select name="title" class="droupdown1" ng-model="signup.title">
                          <option value="Mr">Mr.</option>
                          <option value="Mrs">Mrs.</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="cname" class="control-label col-md-4">First Name </label>
                      <div class="col-md-8">
                        <input class="form-control" id="cname" name="fname" type="text" ng-model="signup.fname" required>
                        <small class="errorMessage" ng-show="submitted && enqueryForm.fname.$error.required"> This field is required. </small> </div>
                    </div>
                    <div class="form-group required">
                      <label for="sname" class="control-label col-md-4">Surname </label>
                      <div class="col-md-8">
                        <input type="text" class="form-control " id="sname" name="sname" ng-model="signup.sname" required>
                        <small class="errorMessage" ng-show="submitted && enqueryForm.sname.$error.required"> This field is required. </small> </div>
                    </div>
                    <div class="form-group required">
                      <label for="mname" class="control-label col-md-4">Middle Name</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control " id="mname" name="mname" ng-model="signup.mname" required>
                        <small class="errorMessage" ng-show="submitted && enqueryForm.mname.$error.required"> This field is required. </small> </div>
                    </div>
                    <div class="form-group required">
                      <label for="cemail" class="control-label col-md-4">D.O.B. </label>
                      <div class="col-md-8 col-lg-8 col-xs-12">
                        <div class="input-group"> 
                          <input type="date" ng-model="signup.dob" readonly datepicker-popup="dd-MM-yyyy" class="form-control" min-date="mindate" name="dob" is-open="Opened" ng-click="Opened=true"  required/>
						                <span class="input-group-btn">
                                <button ng-click="Opened=true;$event.stopPropagation();" class="btn calender-btn" type="button"> <i class="fa fa-calendar" aria-hidden="true"></i></button>
                              </span>
                           </div>
						   <small class="errorMessage" ng-show="submitted && enqueryForm.dob.$error.required"> This field is required. </small>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="nhsno" class="control-label col-md-4">NHS Number</label>
                      <div class="col-md-8">
                        <input class="form-control " id="nhsno" type="text" name="nhsno" ng-model="signup.nhsno" required/>
						<small class="errorMessage" ng-show="submitted && enqueryForm.dob.$error.required"> This field is required. </small>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="cname" class="control-label col-md-4">Gender </label>
                      <div class="col-md-8">
                        <div class="gender ">
                          <div class="maxl">
                            <label class="radio3 inline3">
                            <input type="radio" name="gender" value="Male"  ng-model="signup.gender">
                            <span>Male </span> </label>
                            <label class="radio3 inline3"> &nbsp; &nbsp;
                            <input type="radio" name="gender" value="Female"  ng-model="signup.gender">
                            <span>Female </span> </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="ethnicity" class="control-label col-md-4">Ethnicity </label>
                      <div class="col-md-8">
                        <input class="form-control" id="ethnicity" name="ethnicity" type="text" ng-model="signup.ethnicity">
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="cname" class="control-label col-md-4">Address 1 </label>
                      <div class="col-md-8">
                        <input class="form-control" id="address1" name="address1" type="text" ng-model="signup.address1" required>
                        <small class="errorMessage" ng-show="submitted && enqueryForm.address1.$error.required"> This field is required. </small> </div>
                    </div>
                    <div class="form-group ">
                      <label for="address2" class="control-label col-md-4">Address 2 </label>
                      <div class="col-md-8">
                        <input class="form-control" id="address2" name="address2" type="text" ng-model="signup.address2">
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="postcode" class="control-label col-md-4">Post Code</label>
                      <div class="col-md-8">
                        <div class="row">
                                    <div class="col-sm-4">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" style="text-transform:uppercase" validate-postcode move-focus tabindex="1" maxlength="4" id="postcode1" class="form-control postcode" name="postcode1" ng-model="signup.postcode1" required/>
                                        </span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="block input-icon input-icon-right">
                                            <input type="text" style="text-transform:uppercase" validate-postcode move-focus tabindex="2" maxlength="4" id="postcode2" class="form-control postcode" name="postcode2" ng-model="signup.postcode2" required/>
                                        </span>
                                    </div> 
                                    <div class="col-sm-4">
                                        <span class="exampleMessage" style="display: inline-block; width: 100%; font-size: 12px; line-height: 2.8;">
                                            ex: AA9A 9AA
                                        </span>
                                    </div>
                                </div>
								 <small class="errorMessage" ng-show="(submitted && enqueryForm.postcode1.$error.required) || (submitted && enqueryForm.postcode2.$error.required)">
                                    This field is required.
                                </small>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="cname" class="control-label col-md-4">City </label>
                      <div class="col-md-8">
                        <input class="form-control" id="city" name="city" type="text" ng-model="signup.city" required>
                        <small class="errorMessage" ng-show="submitted && enqueryForm.city.$error.required"> This field is required. </small> </div>
                    </div>
                    <div class="form-group required">
                      <label for="landline" class="control-label col-md-4">Landline </label>
                      <div class="col-md-8">
                        <input class="form-control " id="landline" name="landline" ng-minlength="8" ng-maxlength="16" ng-model="signup.landline" numbers-only>
						<small class="errorMessage" 
                                          ng-show="((enqueryForm.landline.$error.minlength ||
                                                   enqueryForm.landline.$error.maxlength) && 
                                                   enqueryForm.landline.$dirty) ">
                                                   Number should be enter between 8 to 16 digits
                                    </small>
                        <small class="errorMessage" ng-show="submitted && enqueryForm.landline.$error.required"> This field is required. </small>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="mobile" class="control-label col-md-4">Mobile</label>
                      <div class="col-md-8">
                        <input class="form-control " id="mobile" type="text" name="mobile" ng-minlength="8" ng-maxlength="16" ng-model="signup.mobile" required numbers-only/>
						 <small class="errorMessage" 
                                          ng-show="((enqueryForm.mobile.$error.minlength ||
                                                   enqueryForm.mobile.$error.maxlength) && 
                                                   enqueryForm.mobile.$dirty) ">
                                                   Number should be enter between 8 to 16 digits
                                    </small>
                        <small class="errorMessage" ng-show="submitted && enqueryForm.mobile.$error.required"> This field is required. </small> </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group required">
                      <label for="ccomment" class="control-label col-md-4">Other Information</label>
                      <div class="col-md-8">
                        <textarea class="form-control " id="otherinfo" name="otherinfo" rows="8" ng-model="signup.otherinfo" required></textarea>
						<small class="errorMessage" ng-show="submitted && enqueryForm.otherinfo.$error.required"> This field is required. </small>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="desc" class="control-label col-md-4">Please describe the care you require </label>
                      <div class="col-md-8">
                        <textarea class="form-control " id="desc" name="desc" rows="8" ng-model="signup.desc" required></textarea>
						<small class="errorMessage" ng-show="submitted && enqueryForm.desc.$error.required"> This field is required. </small>
                      </div>
                    </div>
                    <div class="form-group required">
                      <label for="outcomes" class="control-label col-md-4">Outcomes you would like to achieve </label>
                      <div class="col-md-8">
                        <textarea class="form-control " id="outcomes" name="outcomes" rows="8" ng-model="signup.outcomes" required></textarea>
						<small class="errorMessage" ng-show="submitted && enqueryForm.outcomes.$error.required"> This field is required. </small>
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="cname" class="control-label col-md-4">Please select the support required </label>
                      <div class="col-md-4">
                        <label class="radio3 inline3">
                        <input type="radio" name="support" value="Personal Care" ng-model="signup.support">
                        <span>Personal Care </span> </label>
                        <div class="clearfix"></div>
                        <label class="radio3 inline3">
                        <input type="radio" name="support" value="Medication" ng-model="signup.support">
                        <span>Medication </span> </label>
                        <div class="clearfix"></div>
                        <label class="radio3 inline3">
                        <input type="radio" name="support" value="Self Support" ng-model="signup.support">
                        <span>Self Support </span> </label>
                      </div>
                      <div class="col-md-4">
                        <label class="radio3 inline3">
                        <input type="radio" name="support" value="Supported Living" ng-model="signup.support">
                        <span>Supported Living </span> </label>
                        <div class="clearfix"></div>
                        <label class="radio3 inline3">
                        <input type="radio" name="support" value="Outreach" ng-model="signup.support">
                        <span>Outreach </span> </label>
                        <div class="clearfix"></div>
                        <label class="radio3 inline3">
                        <input type="radio" name="support" value="Complex Care" ng-model="signup.support">
                        <span>Complex Care </span> </label>
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="ccomment" class="control-label col-md-4">Who is making the enquiry </label>
                      <div class="col-md-8">
                        <select name="makeenq" class="droupdown1" ng-model="signup.makeenq">
                          <option value="self">Self</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
				<input type="hidden" name="id" id="requestID" value="2" ng-model="signup.id"/>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-5 col-md-offset-7 align-right margin-top20">
                      <!--<button class="btn button2" type="button">MIGRATE</button>-->
                      <button class="btn button2" type="submit" ng-click="submitted=true">SAVE</button>
                      <button class="btn button2" type="reset">CANCEL</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- page end-->
      </section>
    </section>
  </div>
  <!--main content end-->
  <!--<div class="text-right">
        <div class="credits">
            <!-- 
                All the links in the footer should remain intact. 
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
  <!--<a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
  </div>
  </div>
</section>
